<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>-9.6531</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>-16.7129</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>-18.0647</td>
    </tr>
  </tbody>
</table>