<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>-6.5470</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>-13.6068</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>-14.9586</td>
    </tr>
  </tbody>
</table>