<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>-11.3628</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>-18.4226</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>-19.7746</td>
    </tr>
  </tbody>
</table>