<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>cdate</th>
      <th>cp</th>
      <th>pctlead</th>
      <th>pred_linr</th>
      <th>pred_logr</th>
      <th>eff_linr</th>
      <th>eff_logr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2018-01-02</td>
      <td>2695.8101</td>
      <td>0.6399</td>
      <td>0.011360</td>
      <td>0.507718</td>
      <td>0.6399</td>
      <td>0.6399</td>
    </tr>
    <tr>
      <td>2018-01-03</td>
      <td>2713.0601</td>
      <td>0.4029</td>
      <td>-0.066864</td>
      <td>0.491423</td>
      <td>-0.4029</td>
      <td>-0.4029</td>
    </tr>
    <tr>
      <td>2018-01-04</td>
      <td>2723.9900</td>
      <td>0.7034</td>
      <td>-0.055518</td>
      <td>0.499344</td>
      <td>-0.7034</td>
      <td>-0.7034</td>
    </tr>
    <tr>
      <td>2018-01-05</td>
      <td>2743.1499</td>
      <td>0.1662</td>
      <td>-0.061260</td>
      <td>0.497967</td>
      <td>-0.1662</td>
      <td>-0.1662</td>
    </tr>
    <tr>
      <td>2018-01-08</td>
      <td>2747.7100</td>
      <td>0.1303</td>
      <td>-0.071038</td>
      <td>0.490426</td>
      <td>-0.1303</td>
      <td>-0.1303</td>
    </tr>
    <tr>
      <td>2018-01-09</td>
      <td>2751.2900</td>
      <td>-0.1112</td>
      <td>-0.018763</td>
      <td>0.502596</td>
      <td>0.1112</td>
      <td>-0.1112</td>
    </tr>
    <tr>
      <td>2018-01-10</td>
      <td>2748.2300</td>
      <td>0.7034</td>
      <td>-0.055193</td>
      <td>0.491442</td>
      <td>-0.7034</td>
      <td>-0.7034</td>
    </tr>
    <tr>
      <td>2018-01-11</td>
      <td>2767.5601</td>
      <td>0.6750</td>
      <td>-0.074758</td>
      <td>0.487347</td>
      <td>-0.6750</td>
      <td>-0.6750</td>
    </tr>
    <tr>
      <td>2018-01-12</td>
      <td>2786.2400</td>
      <td>-0.3524</td>
      <td>-0.113444</td>
      <td>0.477339</td>
      <td>0.3524</td>
      <td>0.3524</td>
    </tr>
    <tr>
      <td>2018-01-16</td>
      <td>2776.4199</td>
      <td>0.9415</td>
      <td>-0.026848</td>
      <td>0.492431</td>
      <td>-0.9415</td>
      <td>-0.9415</td>
    </tr>
    <tr>
      <td>2018-01-17</td>
      <td>2802.5601</td>
      <td>-0.1616</td>
      <td>-0.030297</td>
      <td>0.496764</td>
      <td>0.1616</td>
      <td>0.1616</td>
    </tr>
    <tr>
      <td>2018-01-18</td>
      <td>2798.0300</td>
      <td>0.4385</td>
      <td>-0.093090</td>
      <td>0.490296</td>
      <td>-0.4385</td>
      <td>-0.4385</td>
    </tr>
    <tr>
      <td>2018-01-19</td>
      <td>2810.3000</td>
      <td>0.8067</td>
      <td>-0.049513</td>
      <td>0.502814</td>
      <td>-0.8067</td>
      <td>0.8067</td>
    </tr>
    <tr>
      <td>2018-01-22</td>
      <td>2832.9700</td>
      <td>0.2174</td>
      <td>-0.065176</td>
      <td>0.477149</td>
      <td>-0.2174</td>
      <td>-0.2174</td>
    </tr>
    <tr>
      <td>2018-01-23</td>
      <td>2839.1299</td>
      <td>-0.0560</td>
      <td>-0.092513</td>
      <td>0.481364</td>
      <td>0.0560</td>
      <td>0.0560</td>
    </tr>
    <tr>
      <td>2018-01-24</td>
      <td>2837.5400</td>
      <td>0.0603</td>
      <td>0.011435</td>
      <td>0.505627</td>
      <td>0.0603</td>
      <td>0.0603</td>
    </tr>
    <tr>
      <td>2018-01-25</td>
      <td>2839.2500</td>
      <td>1.1841</td>
      <td>-0.070941</td>
      <td>0.493556</td>
      <td>-1.1841</td>
      <td>-1.1841</td>
    </tr>
    <tr>
      <td>2018-01-26</td>
      <td>2872.8701</td>
      <td>-0.6732</td>
      <td>-0.102048</td>
      <td>0.487820</td>
      <td>0.6732</td>
      <td>0.6732</td>
    </tr>
    <tr>
      <td>2018-01-29</td>
      <td>2853.5300</td>
      <td>-1.0899</td>
      <td>-0.034515</td>
      <td>0.487256</td>
      <td>1.0899</td>
      <td>1.0899</td>
    </tr>
    <tr>
      <td>2018-01-30</td>
      <td>2822.4299</td>
      <td>0.0489</td>
      <td>0.110494</td>
      <td>0.527066</td>
      <td>0.0489</td>
      <td>0.0489</td>
    </tr>
    <tr>
      <td>2018-01-31</td>
      <td>2823.8101</td>
      <td>-0.0648</td>
      <td>0.058778</td>
      <td>0.519319</td>
      <td>-0.0648</td>
      <td>-0.0648</td>
    </tr>
    <tr>
      <td>2018-02-01</td>
      <td>2821.9800</td>
      <td>-2.1209</td>
      <td>-0.033093</td>
      <td>0.504186</td>
      <td>2.1209</td>
      <td>-2.1209</td>
    </tr>
    <tr>
      <td>2018-02-02</td>
      <td>2762.1299</td>
      <td>-4.0979</td>
      <td>0.183158</td>
      <td>0.549378</td>
      <td>-4.0979</td>
      <td>-4.0979</td>
    </tr>
    <tr>
      <td>2018-02-05</td>
      <td>2648.9399</td>
      <td>1.7441</td>
      <td>0.449318</td>
      <td>0.604714</td>
      <td>1.7441</td>
      <td>1.7441</td>
    </tr>
    <tr>
      <td>2018-02-06</td>
      <td>2695.1399</td>
      <td>-0.5002</td>
      <td>0.236797</td>
      <td>0.565803</td>
      <td>-0.5002</td>
      <td>-0.5002</td>
    </tr>
    <tr>
      <td>2018-02-07</td>
      <td>2681.6599</td>
      <td>-3.7536</td>
      <td>0.033168</td>
      <td>0.515763</td>
      <td>-3.7536</td>
      <td>-3.7536</td>
    </tr>
    <tr>
      <td>2018-02-08</td>
      <td>2581.0000</td>
      <td>1.4936</td>
      <td>0.456815</td>
      <td>0.616801</td>
      <td>1.4936</td>
      <td>1.4936</td>
    </tr>
    <tr>
      <td>2018-02-09</td>
      <td>2619.5500</td>
      <td>1.3915</td>
      <td>0.374334</td>
      <td>0.601169</td>
      <td>1.3915</td>
      <td>1.3915</td>
    </tr>
    <tr>
      <td>2018-02-12</td>
      <td>2656.0000</td>
      <td>0.2613</td>
      <td>-0.086198</td>
      <td>0.517913</td>
      <td>-0.2613</td>
      <td>0.2613</td>
    </tr>
    <tr>
      <td>2018-02-13</td>
      <td>2662.9399</td>
      <td>1.3402</td>
      <td>0.142489</td>
      <td>0.561330</td>
      <td>1.3402</td>
      <td>1.3402</td>
    </tr>
    <tr>
      <td>2018-02-14</td>
      <td>2698.6299</td>
      <td>1.2069</td>
      <td>0.018372</td>
      <td>0.511373</td>
      <td>1.2069</td>
      <td>1.2069</td>
    </tr>
    <tr>
      <td>2018-02-15</td>
      <td>2731.2000</td>
      <td>0.0373</td>
      <td>-0.129176</td>
      <td>0.505804</td>
      <td>-0.0373</td>
      <td>0.0373</td>
    </tr>
    <tr>
      <td>2018-02-16</td>
      <td>2732.2200</td>
      <td>-0.5841</td>
      <td>-0.056387</td>
      <td>0.523496</td>
      <td>0.5841</td>
      <td>-0.5841</td>
    </tr>
    <tr>
      <td>2018-02-20</td>
      <td>2716.2600</td>
      <td>-0.5497</td>
      <td>-0.068954</td>
      <td>0.492871</td>
      <td>0.5497</td>
      <td>0.5497</td>
    </tr>
    <tr>
      <td>2018-02-21</td>
      <td>2701.3301</td>
      <td>0.0974</td>
      <td>0.013993</td>
      <td>0.506029</td>
      <td>0.0974</td>
      <td>0.0974</td>
    </tr>
    <tr>
      <td>2018-02-22</td>
      <td>2703.9600</td>
      <td>1.6028</td>
      <td>-0.038913</td>
      <td>0.489792</td>
      <td>-1.6028</td>
      <td>-1.6028</td>
    </tr>
    <tr>
      <td>2018-02-23</td>
      <td>2747.3000</td>
      <td>1.1757</td>
      <td>-0.151930</td>
      <td>0.457540</td>
      <td>-1.1757</td>
      <td>-1.1757</td>
    </tr>
    <tr>
      <td>2018-02-26</td>
      <td>2779.6001</td>
      <td>-1.2707</td>
      <td>-0.114643</td>
      <td>0.454706</td>
      <td>1.2707</td>
      <td>1.2707</td>
    </tr>
    <tr>
      <td>2018-02-27</td>
      <td>2744.2800</td>
      <td>-1.1096</td>
      <td>0.056926</td>
      <td>0.514435</td>
      <td>-1.1096</td>
      <td>-1.1096</td>
    </tr>
    <tr>
      <td>2018-02-28</td>
      <td>2713.8301</td>
      <td>-1.3324</td>
      <td>0.139438</td>
      <td>0.551957</td>
      <td>-1.3324</td>
      <td>-1.3324</td>
    </tr>
    <tr>
      <td>2018-03-01</td>
      <td>2677.6699</td>
      <td>0.5072</td>
      <td>0.082605</td>
      <td>0.543535</td>
      <td>0.5072</td>
      <td>0.5072</td>
    </tr>
    <tr>
      <td>2018-03-02</td>
      <td>2691.2500</td>
      <td>1.1032</td>
      <td>0.016679</td>
      <td>0.513979</td>
      <td>1.1032</td>
      <td>1.1032</td>
    </tr>
    <tr>
      <td>2018-03-05</td>
      <td>2720.9399</td>
      <td>0.2639</td>
      <td>-0.008449</td>
      <td>0.472192</td>
      <td>-0.2639</td>
      <td>-0.2639</td>
    </tr>
    <tr>
      <td>2018-03-06</td>
      <td>2728.1201</td>
      <td>-0.0484</td>
      <td>0.018503</td>
      <td>0.493753</td>
      <td>-0.0484</td>
      <td>0.0484</td>
    </tr>
    <tr>
      <td>2018-03-07</td>
      <td>2726.8000</td>
      <td>0.4463</td>
      <td>0.115310</td>
      <td>0.537992</td>
      <td>0.4463</td>
      <td>0.4463</td>
    </tr>
    <tr>
      <td>2018-03-08</td>
      <td>2738.9700</td>
      <td>1.7379</td>
      <td>-0.033085</td>
      <td>0.524039</td>
      <td>-1.7379</td>
      <td>1.7379</td>
    </tr>
    <tr>
      <td>2018-03-09</td>
      <td>2786.5701</td>
      <td>-0.1274</td>
      <td>-0.135305</td>
      <td>0.495327</td>
      <td>0.1274</td>
      <td>0.1274</td>
    </tr>
    <tr>
      <td>2018-03-12</td>
      <td>2783.0200</td>
      <td>-0.6364</td>
      <td>-0.088409</td>
      <td>0.477139</td>
      <td>0.6364</td>
      <td>0.6364</td>
    </tr>
    <tr>
      <td>2018-03-13</td>
      <td>2765.3101</td>
      <td>-0.5725</td>
      <td>0.050628</td>
      <td>0.509451</td>
      <td>-0.5725</td>
      <td>-0.5725</td>
    </tr>
    <tr>
      <td>2018-03-14</td>
      <td>2749.4800</td>
      <td>-0.0782</td>
      <td>0.043612</td>
      <td>0.514680</td>
      <td>-0.0782</td>
      <td>-0.0782</td>
    </tr>
    <tr>
      <td>2018-03-15</td>
      <td>2747.3301</td>
      <td>0.1703</td>
      <td>-0.037378</td>
      <td>0.503255</td>
      <td>-0.1703</td>
      <td>0.1703</td>
    </tr>
    <tr>
      <td>2018-03-16</td>
      <td>2752.0100</td>
      <td>-1.4204</td>
      <td>-0.003810</td>
      <td>0.497904</td>
      <td>1.4204</td>
      <td>1.4204</td>
    </tr>
    <tr>
      <td>2018-03-19</td>
      <td>2712.9199</td>
      <td>0.1482</td>
      <td>0.113735</td>
      <td>0.513176</td>
      <td>0.1482</td>
      <td>0.1482</td>
    </tr>
    <tr>
      <td>2018-03-20</td>
      <td>2716.9399</td>
      <td>-0.1844</td>
      <td>0.167802</td>
      <td>0.538796</td>
      <td>-0.1844</td>
      <td>-0.1844</td>
    </tr>
    <tr>
      <td>2018-03-21</td>
      <td>2711.9299</td>
      <td>-2.5163</td>
      <td>0.043194</td>
      <td>0.521215</td>
      <td>-2.5163</td>
      <td>-2.5163</td>
    </tr>
    <tr>
      <td>2018-03-22</td>
      <td>2643.6899</td>
      <td>-2.0967</td>
      <td>0.217352</td>
      <td>0.570932</td>
      <td>-2.0967</td>
      <td>-2.0967</td>
    </tr>
    <tr>
      <td>2018-03-23</td>
      <td>2588.2600</td>
      <td>2.7157</td>
      <td>0.373058</td>
      <td>0.602183</td>
      <td>2.7157</td>
      <td>2.7157</td>
    </tr>
    <tr>
      <td>2018-03-26</td>
      <td>2658.5500</td>
      <td>-1.7276</td>
      <td>0.031277</td>
      <td>0.512333</td>
      <td>-1.7276</td>
      <td>-1.7276</td>
    </tr>
    <tr>
      <td>2018-03-27</td>
      <td>2612.6201</td>
      <td>-0.2917</td>
      <td>0.104180</td>
      <td>0.529685</td>
      <td>-0.2917</td>
      <td>-0.2917</td>
    </tr>
    <tr>
      <td>2018-03-28</td>
      <td>2605.0000</td>
      <td>1.3770</td>
      <td>0.292527</td>
      <td>0.575249</td>
      <td>1.3770</td>
      <td>1.3770</td>
    </tr>
    <tr>
      <td>2018-03-29</td>
      <td>2640.8701</td>
      <td>-2.2337</td>
      <td>0.066751</td>
      <td>0.532691</td>
      <td>-2.2337</td>
      <td>-2.2337</td>
    </tr>
    <tr>
      <td>2018-04-02</td>
      <td>2581.8799</td>
      <td>1.2615</td>
      <td>0.099358</td>
      <td>0.561721</td>
      <td>1.2615</td>
      <td>1.2615</td>
    </tr>
    <tr>
      <td>2018-04-03</td>
      <td>2614.4500</td>
      <td>1.1566</td>
      <td>0.227097</td>
      <td>0.562595</td>
      <td>1.1566</td>
      <td>1.1566</td>
    </tr>
    <tr>
      <td>2018-04-04</td>
      <td>2644.6899</td>
      <td>0.6863</td>
      <td>-0.182946</td>
      <td>0.461434</td>
      <td>-0.6863</td>
      <td>-0.6863</td>
    </tr>
    <tr>
      <td>2018-04-05</td>
      <td>2662.8401</td>
      <td>-2.1920</td>
      <td>-0.007395</td>
      <td>0.513523</td>
      <td>2.1920</td>
      <td>-2.1920</td>
    </tr>
    <tr>
      <td>2018-04-06</td>
      <td>2604.4700</td>
      <td>0.3337</td>
      <td>0.145490</td>
      <td>0.540976</td>
      <td>0.3337</td>
      <td>0.3337</td>
    </tr>
    <tr>
      <td>2018-04-09</td>
      <td>2613.1599</td>
      <td>1.6727</td>
      <td>0.060958</td>
      <td>0.529295</td>
      <td>1.6727</td>
      <td>1.6727</td>
    </tr>
    <tr>
      <td>2018-04-10</td>
      <td>2656.8701</td>
      <td>-0.5525</td>
      <td>-0.051286</td>
      <td>0.492629</td>
      <td>0.5525</td>
      <td>0.5525</td>
    </tr>
    <tr>
      <td>2018-04-11</td>
      <td>2642.1899</td>
      <td>0.8251</td>
      <td>-0.120886</td>
      <td>0.471247</td>
      <td>-0.8251</td>
      <td>-0.8251</td>
    </tr>
    <tr>
      <td>2018-04-12</td>
      <td>2663.9900</td>
      <td>-0.2887</td>
      <td>0.102972</td>
      <td>0.512214</td>
      <td>-0.2887</td>
      <td>-0.2887</td>
    </tr>
    <tr>
      <td>2018-04-13</td>
      <td>2656.3000</td>
      <td>0.8109</td>
      <td>-0.077658</td>
      <td>0.496252</td>
      <td>-0.8109</td>
      <td>-0.8109</td>
    </tr>
    <tr>
      <td>2018-04-16</td>
      <td>2677.8401</td>
      <td>1.0662</td>
      <td>0.007256</td>
      <td>0.515818</td>
      <td>1.0662</td>
      <td>1.0662</td>
    </tr>
    <tr>
      <td>2018-04-17</td>
      <td>2706.3899</td>
      <td>0.0831</td>
      <td>-0.109198</td>
      <td>0.470632</td>
      <td>-0.0831</td>
      <td>-0.0831</td>
    </tr>
    <tr>
      <td>2018-04-18</td>
      <td>2708.6399</td>
      <td>-0.5726</td>
      <td>-0.102277</td>
      <td>0.477344</td>
      <td>0.5726</td>
      <td>0.5726</td>
    </tr>
    <tr>
      <td>2018-04-19</td>
      <td>2693.1299</td>
      <td>-0.8537</td>
      <td>0.073354</td>
      <td>0.519064</td>
      <td>-0.8537</td>
      <td>-0.8537</td>
    </tr>
    <tr>
      <td>2018-04-20</td>
      <td>2670.1399</td>
      <td>0.0056</td>
      <td>-0.014114</td>
      <td>0.511335</td>
      <td>-0.0056</td>
      <td>0.0056</td>
    </tr>
    <tr>
      <td>2018-04-23</td>
      <td>2670.2900</td>
      <td>-1.3381</td>
      <td>0.068840</td>
      <td>0.514660</td>
      <td>-1.3381</td>
      <td>-1.3381</td>
    </tr>
    <tr>
      <td>2018-04-24</td>
      <td>2634.5601</td>
      <td>0.1837</td>
      <td>0.085950</td>
      <td>0.512502</td>
      <td>0.1837</td>
      <td>0.1837</td>
    </tr>
    <tr>
      <td>2018-04-25</td>
      <td>2639.3999</td>
      <td>1.0434</td>
      <td>0.123498</td>
      <td>0.522499</td>
      <td>1.0434</td>
      <td>1.0434</td>
    </tr>
    <tr>
      <td>2018-04-26</td>
      <td>2666.9399</td>
      <td>0.1114</td>
      <td>0.003447</td>
      <td>0.500252</td>
      <td>0.1114</td>
      <td>0.1114</td>
    </tr>
    <tr>
      <td>2018-04-27</td>
      <td>2669.9099</td>
      <td>-0.8187</td>
      <td>-0.018059</td>
      <td>0.512622</td>
      <td>0.8187</td>
      <td>-0.8187</td>
    </tr>
    <tr>
      <td>2018-04-30</td>
      <td>2648.0500</td>
      <td>0.2549</td>
      <td>0.179285</td>
      <td>0.546801</td>
      <td>0.2549</td>
      <td>0.2549</td>
    </tr>
    <tr>
      <td>2018-05-01</td>
      <td>2654.8000</td>
      <td>-0.7206</td>
      <td>0.057260</td>
      <td>0.529258</td>
      <td>-0.7206</td>
      <td>-0.7206</td>
    </tr>
    <tr>
      <td>2018-05-02</td>
      <td>2635.6699</td>
      <td>-0.2254</td>
      <td>0.069697</td>
      <td>0.533550</td>
      <td>-0.2254</td>
      <td>-0.2254</td>
    </tr>
    <tr>
      <td>2018-05-03</td>
      <td>2629.7300</td>
      <td>1.2811</td>
      <td>0.066005</td>
      <td>0.523657</td>
      <td>1.2811</td>
      <td>1.2811</td>
    </tr>
    <tr>
      <td>2018-05-04</td>
      <td>2663.4199</td>
      <td>0.3458</td>
      <td>-0.022083</td>
      <td>0.493865</td>
      <td>-0.3458</td>
      <td>-0.3458</td>
    </tr>
    <tr>
      <td>2018-05-07</td>
      <td>2672.6299</td>
      <td>-0.0266</td>
      <td>-0.031622</td>
      <td>0.488164</td>
      <td>0.0266</td>
      <td>0.0266</td>
    </tr>
    <tr>
      <td>2018-05-08</td>
      <td>2671.9199</td>
      <td>0.9682</td>
      <td>0.076866</td>
      <td>0.520235</td>
      <td>0.9682</td>
      <td>0.9682</td>
    </tr>
    <tr>
      <td>2018-05-09</td>
      <td>2697.7900</td>
      <td>0.9371</td>
      <td>-0.049014</td>
      <td>0.498425</td>
      <td>-0.9371</td>
      <td>-0.9371</td>
    </tr>
    <tr>
      <td>2018-05-10</td>
      <td>2723.0701</td>
      <td>0.1708</td>
      <td>-0.121064</td>
      <td>0.487786</td>
      <td>-0.1708</td>
      <td>-0.1708</td>
    </tr>
    <tr>
      <td>2018-05-11</td>
      <td>2727.7200</td>
      <td>0.0883</td>
      <td>-0.083078</td>
      <td>0.489877</td>
      <td>-0.0883</td>
      <td>-0.0883</td>
    </tr>
    <tr>
      <td>2018-05-14</td>
      <td>2730.1299</td>
      <td>-0.6842</td>
      <td>-0.022494</td>
      <td>0.486153</td>
      <td>0.6842</td>
      <td>0.6842</td>
    </tr>
    <tr>
      <td>2018-05-15</td>
      <td>2711.4500</td>
      <td>0.4061</td>
      <td>0.016887</td>
      <td>0.503406</td>
      <td>0.4061</td>
      <td>0.4061</td>
    </tr>
    <tr>
      <td>2018-05-16</td>
      <td>2722.4600</td>
      <td>-0.0856</td>
      <td>-0.016301</td>
      <td>0.496987</td>
      <td>0.0856</td>
      <td>0.0856</td>
    </tr>
    <tr>
      <td>2018-05-17</td>
      <td>2720.1299</td>
      <td>-0.2632</td>
      <td>-0.043071</td>
      <td>0.485515</td>
      <td>0.2632</td>
      <td>0.2632</td>
    </tr>
    <tr>
      <td>2018-05-18</td>
      <td>2712.9700</td>
      <td>0.7387</td>
      <td>0.021006</td>
      <td>0.505339</td>
      <td>0.7387</td>
      <td>0.7387</td>
    </tr>
    <tr>
      <td>2018-05-21</td>
      <td>2733.0100</td>
      <td>-0.3136</td>
      <td>0.046285</td>
      <td>0.499510</td>
      <td>-0.3136</td>
      <td>0.3136</td>
    </tr>
    <tr>
      <td>2018-05-22</td>
      <td>2724.4399</td>
      <td>0.3248</td>
      <td>-0.006543</td>
      <td>0.502090</td>
      <td>-0.3248</td>
      <td>0.3248</td>
    </tr>
    <tr>
      <td>2018-05-23</td>
      <td>2733.2900</td>
      <td>-0.2023</td>
      <td>0.061394</td>
      <td>0.521194</td>
      <td>-0.2023</td>
      <td>-0.2023</td>
    </tr>
    <tr>
      <td>2018-05-24</td>
      <td>2727.7600</td>
      <td>-0.2357</td>
      <td>-0.000423</td>
      <td>0.507549</td>
      <td>0.2357</td>
      <td>-0.2357</td>
    </tr>
    <tr>
      <td>2018-05-25</td>
      <td>2721.3301</td>
      <td>-1.1564</td>
      <td>0.027033</td>
      <td>0.521820</td>
      <td>-1.1564</td>
      <td>-1.1564</td>
    </tr>
    <tr>
      <td>2018-05-29</td>
      <td>2689.8601</td>
      <td>1.2696</td>
      <td>0.140892</td>
      <td>0.532787</td>
      <td>1.2696</td>
      <td>1.2696</td>
    </tr>
    <tr>
      <td>2018-05-30</td>
      <td>2724.0100</td>
      <td>-0.6880</td>
      <td>-0.007146</td>
      <td>0.501844</td>
      <td>0.6880</td>
      <td>-0.6880</td>
    </tr>
    <tr>
      <td>2018-05-31</td>
      <td>2705.2700</td>
      <td>1.0849</td>
      <td>0.033852</td>
      <td>0.510031</td>
      <td>1.0849</td>
      <td>1.0849</td>
    </tr>
    <tr>
      <td>2018-06-01</td>
      <td>2734.6201</td>
      <td>0.4480</td>
      <td>0.002498</td>
      <td>0.509260</td>
      <td>0.4480</td>
      <td>0.4480</td>
    </tr>
    <tr>
      <td>2018-06-04</td>
      <td>2746.8701</td>
      <td>0.0703</td>
      <td>0.023289</td>
      <td>0.498283</td>
      <td>0.0703</td>
      <td>-0.0703</td>
    </tr>
    <tr>
      <td>2018-06-05</td>
      <td>2748.8000</td>
      <td>0.8567</td>
      <td>-0.031178</td>
      <td>0.506538</td>
      <td>-0.8567</td>
      <td>0.8567</td>
    </tr>
    <tr>
      <td>2018-06-06</td>
      <td>2772.3501</td>
      <td>-0.0714</td>
      <td>0.029530</td>
      <td>0.510183</td>
      <td>-0.0714</td>
      <td>-0.0714</td>
    </tr>
    <tr>
      <td>2018-06-07</td>
      <td>2770.3701</td>
      <td>0.3126</td>
      <td>-0.129636</td>
      <td>0.480711</td>
      <td>-0.3126</td>
      <td>-0.3126</td>
    </tr>
    <tr>
      <td>2018-06-08</td>
      <td>2779.0300</td>
      <td>0.1069</td>
      <td>0.021112</td>
      <td>0.511672</td>
      <td>0.1069</td>
      <td>0.1069</td>
    </tr>
    <tr>
      <td>2018-06-11</td>
      <td>2782.0000</td>
      <td>0.1743</td>
      <td>-0.048461</td>
      <td>0.478428</td>
      <td>-0.1743</td>
      <td>-0.1743</td>
    </tr>
    <tr>
      <td>2018-06-12</td>
      <td>2786.8501</td>
      <td>-0.4026</td>
      <td>-0.009448</td>
      <td>0.494186</td>
      <td>0.4026</td>
      <td>0.4026</td>
    </tr>
    <tr>
      <td>2018-06-13</td>
      <td>2775.6299</td>
      <td>0.2472</td>
      <td>0.034800</td>
      <td>0.503893</td>
      <td>0.2472</td>
      <td>0.2472</td>
    </tr>
    <tr>
      <td>2018-06-14</td>
      <td>2782.4900</td>
      <td>-0.1017</td>
      <td>-0.013181</td>
      <td>0.499332</td>
      <td>0.1017</td>
      <td>0.1017</td>
    </tr>
    <tr>
      <td>2018-06-15</td>
      <td>2779.6599</td>
      <td>-0.2126</td>
      <td>0.014256</td>
      <td>0.508045</td>
      <td>-0.2126</td>
      <td>-0.2126</td>
    </tr>
    <tr>
      <td>2018-06-18</td>
      <td>2773.7500</td>
      <td>-0.4023</td>
      <td>0.052098</td>
      <td>0.507359</td>
      <td>-0.4023</td>
      <td>-0.4023</td>
    </tr>
    <tr>
      <td>2018-06-19</td>
      <td>2762.5901</td>
      <td>0.1712</td>
      <td>0.103241</td>
      <td>0.521056</td>
      <td>0.1712</td>
      <td>0.1712</td>
    </tr>
    <tr>
      <td>2018-06-20</td>
      <td>2767.3201</td>
      <td>-0.6346</td>
      <td>0.037948</td>
      <td>0.513705</td>
      <td>-0.6346</td>
      <td>-0.6346</td>
    </tr>
    <tr>
      <td>2018-06-21</td>
      <td>2749.7600</td>
      <td>0.1862</td>
      <td>0.083704</td>
      <td>0.526359</td>
      <td>0.1862</td>
      <td>0.1862</td>
    </tr>
    <tr>
      <td>2018-06-22</td>
      <td>2754.8799</td>
      <td>-1.3725</td>
      <td>0.052323</td>
      <td>0.522342</td>
      <td>-1.3725</td>
      <td>-1.3725</td>
    </tr>
    <tr>
      <td>2018-06-25</td>
      <td>2717.0701</td>
      <td>0.2205</td>
      <td>0.165210</td>
      <td>0.536588</td>
      <td>0.2205</td>
      <td>0.2205</td>
    </tr>
    <tr>
      <td>2018-06-26</td>
      <td>2723.0601</td>
      <td>-0.8604</td>
      <td>0.128070</td>
      <td>0.536188</td>
      <td>-0.8604</td>
      <td>-0.8604</td>
    </tr>
    <tr>
      <td>2018-06-27</td>
      <td>2699.6299</td>
      <td>0.6179</td>
      <td>0.129050</td>
      <td>0.533468</td>
      <td>0.6179</td>
      <td>0.6179</td>
    </tr>
    <tr>
      <td>2018-06-28</td>
      <td>2716.3101</td>
      <td>0.0758</td>
      <td>0.057102</td>
      <td>0.524796</td>
      <td>0.0758</td>
      <td>0.0758</td>
    </tr>
    <tr>
      <td>2018-06-29</td>
      <td>2718.3701</td>
      <td>0.3068</td>
      <td>0.081657</td>
      <td>0.524889</td>
      <td>0.3068</td>
      <td>0.3068</td>
    </tr>
    <tr>
      <td>2018-07-02</td>
      <td>2726.7100</td>
      <td>-0.4947</td>
      <td>0.034077</td>
      <td>0.513821</td>
      <td>-0.4947</td>
      <td>-0.4947</td>
    </tr>
    <tr>
      <td>2018-07-03</td>
      <td>2713.2200</td>
      <td>0.8621</td>
      <td>0.155616</td>
      <td>0.541281</td>
      <td>0.8621</td>
      <td>0.8621</td>
    </tr>
    <tr>
      <td>2018-07-05</td>
      <td>2736.6101</td>
      <td>0.8481</td>
      <td>-0.041566</td>
      <td>0.507531</td>
      <td>-0.8481</td>
      <td>0.8481</td>
    </tr>
    <tr>
      <td>2018-07-06</td>
      <td>2759.8201</td>
      <td>0.8823</td>
      <td>-0.039054</td>
      <td>0.500371</td>
      <td>-0.8823</td>
      <td>0.8823</td>
    </tr>
    <tr>
      <td>2018-07-09</td>
      <td>2784.1699</td>
      <td>0.3473</td>
      <td>-0.086784</td>
      <td>0.474679</td>
      <td>-0.3473</td>
      <td>-0.3473</td>
    </tr>
    <tr>
      <td>2018-07-10</td>
      <td>2793.8401</td>
      <td>-0.7094</td>
      <td>-0.004375</td>
      <td>0.492757</td>
      <td>0.7094</td>
      <td>0.7094</td>
    </tr>
    <tr>
      <td>2018-07-11</td>
      <td>2774.0200</td>
      <td>0.8749</td>
      <td>-0.013554</td>
      <td>0.504411</td>
      <td>-0.8749</td>
      <td>0.8749</td>
    </tr>
    <tr>
      <td>2018-07-12</td>
      <td>2798.2900</td>
      <td>0.1079</td>
      <td>-0.023850</td>
      <td>0.501243</td>
      <td>-0.1079</td>
      <td>0.1079</td>
    </tr>
    <tr>
      <td>2018-07-13</td>
      <td>2801.3101</td>
      <td>-0.1028</td>
      <td>-0.126138</td>
      <td>0.472332</td>
      <td>0.1028</td>
      <td>0.1028</td>
    </tr>
    <tr>
      <td>2018-07-16</td>
      <td>2798.4299</td>
      <td>0.3974</td>
      <td>0.032210</td>
      <td>0.492092</td>
      <td>0.3974</td>
      <td>-0.3974</td>
    </tr>
    <tr>
      <td>2018-07-17</td>
      <td>2809.5500</td>
      <td>0.2161</td>
      <td>0.020786</td>
      <td>0.489724</td>
      <td>0.2161</td>
      <td>-0.2161</td>
    </tr>
    <tr>
      <td>2018-07-18</td>
      <td>2815.6201</td>
      <td>-0.3953</td>
      <td>-0.049260</td>
      <td>0.490318</td>
      <td>0.3953</td>
      <td>0.3953</td>
    </tr>
    <tr>
      <td>2018-07-19</td>
      <td>2804.4900</td>
      <td>-0.0948</td>
      <td>0.051685</td>
      <td>0.516262</td>
      <td>-0.0948</td>
      <td>-0.0948</td>
    </tr>
    <tr>
      <td>2018-07-20</td>
      <td>2801.8301</td>
      <td>0.1838</td>
      <td>0.009234</td>
      <td>0.508229</td>
      <td>0.1838</td>
      <td>0.1838</td>
    </tr>
    <tr>
      <td>2018-07-23</td>
      <td>2806.9800</td>
      <td>0.4781</td>
      <td>0.048949</td>
      <td>0.505688</td>
      <td>0.4781</td>
      <td>0.4781</td>
    </tr>
    <tr>
      <td>2018-07-24</td>
      <td>2820.3999</td>
      <td>0.9102</td>
      <td>0.001320</td>
      <td>0.496365</td>
      <td>0.9102</td>
      <td>-0.9102</td>
    </tr>
    <tr>
      <td>2018-07-25</td>
      <td>2846.0701</td>
      <td>-0.3032</td>
      <td>-0.036070</td>
      <td>0.487549</td>
      <td>0.3032</td>
      <td>0.3032</td>
    </tr>
    <tr>
      <td>2018-07-26</td>
      <td>2837.4399</td>
      <td>-0.6562</td>
      <td>-0.002891</td>
      <td>0.503756</td>
      <td>0.6562</td>
      <td>-0.6562</td>
    </tr>
    <tr>
      <td>2018-07-27</td>
      <td>2818.8201</td>
      <td>-0.5754</td>
      <td>0.071929</td>
      <td>0.530800</td>
      <td>-0.5754</td>
      <td>-0.5754</td>
    </tr>
    <tr>
      <td>2018-07-30</td>
      <td>2802.6001</td>
      <td>0.4885</td>
      <td>0.092916</td>
      <td>0.522957</td>
      <td>0.4885</td>
      <td>0.4885</td>
    </tr>
    <tr>
      <td>2018-07-31</td>
      <td>2816.2900</td>
      <td>-0.1040</td>
      <td>0.014801</td>
      <td>0.502489</td>
      <td>-0.1040</td>
      <td>-0.1040</td>
    </tr>
    <tr>
      <td>2018-08-01</td>
      <td>2813.3601</td>
      <td>0.4926</td>
      <td>0.036706</td>
      <td>0.498358</td>
      <td>0.4926</td>
      <td>-0.4926</td>
    </tr>
    <tr>
      <td>2018-08-02</td>
      <td>2827.2200</td>
      <td>0.4644</td>
      <td>0.030184</td>
      <td>0.502183</td>
      <td>0.4644</td>
      <td>0.4644</td>
    </tr>
    <tr>
      <td>2018-08-03</td>
      <td>2840.3501</td>
      <td>0.3538</td>
      <td>0.011106</td>
      <td>0.508363</td>
      <td>0.3538</td>
      <td>0.3538</td>
    </tr>
    <tr>
      <td>2018-08-06</td>
      <td>2850.3999</td>
      <td>0.2824</td>
      <td>0.003124</td>
      <td>0.505179</td>
      <td>0.2824</td>
      <td>0.2824</td>
    </tr>
    <tr>
      <td>2018-08-07</td>
      <td>2858.4500</td>
      <td>-0.0262</td>
      <td>0.026179</td>
      <td>0.508644</td>
      <td>-0.0262</td>
      <td>-0.0262</td>
    </tr>
    <tr>
      <td>2018-08-08</td>
      <td>2857.7000</td>
      <td>-0.1442</td>
      <td>-0.018131</td>
      <td>0.500192</td>
      <td>0.1442</td>
      <td>-0.1442</td>
    </tr>
    <tr>
      <td>2018-08-09</td>
      <td>2853.5801</td>
      <td>-0.7114</td>
      <td>0.028760</td>
      <td>0.510437</td>
      <td>-0.7114</td>
      <td>-0.7114</td>
    </tr>
    <tr>
      <td>2018-08-10</td>
      <td>2833.2800</td>
      <td>-0.4006</td>
      <td>0.030367</td>
      <td>0.511650</td>
      <td>-0.4006</td>
      <td>-0.4006</td>
    </tr>
    <tr>
      <td>2018-08-13</td>
      <td>2821.9299</td>
      <td>0.6389</td>
      <td>0.108389</td>
      <td>0.515909</td>
      <td>0.6389</td>
      <td>0.6389</td>
    </tr>
    <tr>
      <td>2018-08-14</td>
      <td>2839.9600</td>
      <td>-0.7602</td>
      <td>0.035230</td>
      <td>0.498752</td>
      <td>-0.7602</td>
      <td>0.7602</td>
    </tr>
    <tr>
      <td>2018-08-15</td>
      <td>2818.3701</td>
      <td>0.7919</td>
      <td>0.066613</td>
      <td>0.511852</td>
      <td>0.7919</td>
      <td>0.7919</td>
    </tr>
    <tr>
      <td>2018-08-16</td>
      <td>2840.6899</td>
      <td>0.3323</td>
      <td>0.078832</td>
      <td>0.520124</td>
      <td>0.3323</td>
      <td>0.3323</td>
    </tr>
    <tr>
      <td>2018-08-17</td>
      <td>2850.1299</td>
      <td>0.2428</td>
      <td>-0.019567</td>
      <td>0.504559</td>
      <td>-0.2428</td>
      <td>0.2428</td>
    </tr>
    <tr>
      <td>2018-08-20</td>
      <td>2857.0500</td>
      <td>0.2069</td>
      <td>0.034703</td>
      <td>0.513052</td>
      <td>0.2069</td>
      <td>0.2069</td>
    </tr>
    <tr>
      <td>2018-08-21</td>
      <td>2862.9600</td>
      <td>-0.0398</td>
      <td>0.057504</td>
      <td>0.511905</td>
      <td>-0.0398</td>
      <td>-0.0398</td>
    </tr>
    <tr>
      <td>2018-08-22</td>
      <td>2861.8201</td>
      <td>-0.1691</td>
      <td>-0.023765</td>
      <td>0.501796</td>
      <td>0.1691</td>
      <td>-0.1691</td>
    </tr>
    <tr>
      <td>2018-08-23</td>
      <td>2856.9800</td>
      <td>0.6199</td>
      <td>0.061015</td>
      <td>0.519232</td>
      <td>0.6199</td>
      <td>0.6199</td>
    </tr>
    <tr>
      <td>2018-08-24</td>
      <td>2874.6899</td>
      <td>0.7670</td>
      <td>-0.059672</td>
      <td>0.489867</td>
      <td>-0.7670</td>
      <td>-0.7670</td>
    </tr>
    <tr>
      <td>2018-08-27</td>
      <td>2896.7400</td>
      <td>0.0269</td>
      <td>-0.022354</td>
      <td>0.482660</td>
      <td>-0.0269</td>
      <td>-0.0269</td>
    </tr>
    <tr>
      <td>2018-08-28</td>
      <td>2897.5200</td>
      <td>0.5701</td>
      <td>-0.005242</td>
      <td>0.491529</td>
      <td>-0.5701</td>
      <td>-0.5701</td>
    </tr>
    <tr>
      <td>2018-08-29</td>
      <td>2914.0400</td>
      <td>-0.4430</td>
      <td>-0.004328</td>
      <td>0.497907</td>
      <td>0.4430</td>
      <td>0.4430</td>
    </tr>
    <tr>
      <td>2018-08-30</td>
      <td>2901.1299</td>
      <td>0.0134</td>
      <td>-0.014310</td>
      <td>0.504064</td>
      <td>-0.0134</td>
      <td>0.0134</td>
    </tr>
    <tr>
      <td>2018-08-31</td>
      <td>2901.5200</td>
      <td>-0.1654</td>
      <td>0.010623</td>
      <td>0.512054</td>
      <td>-0.1654</td>
      <td>-0.1654</td>
    </tr>
    <tr>
      <td>2018-09-04</td>
      <td>2896.7200</td>
      <td>-0.2803</td>
      <td>0.032910</td>
      <td>0.497743</td>
      <td>-0.2803</td>
      <td>0.2803</td>
    </tr>
    <tr>
      <td>2018-09-05</td>
      <td>2888.6001</td>
      <td>-0.3652</td>
      <td>0.038300</td>
      <td>0.504098</td>
      <td>-0.3652</td>
      <td>-0.3652</td>
    </tr>
    <tr>
      <td>2018-09-06</td>
      <td>2878.0500</td>
      <td>-0.2213</td>
      <td>0.101128</td>
      <td>0.518808</td>
      <td>-0.2213</td>
      <td>-0.2213</td>
    </tr>
    <tr>
      <td>2018-09-07</td>
      <td>2871.6799</td>
      <td>0.1898</td>
      <td>0.045949</td>
      <td>0.515497</td>
      <td>0.1898</td>
      <td>0.1898</td>
    </tr>
    <tr>
      <td>2018-09-10</td>
      <td>2877.1299</td>
      <td>0.3740</td>
      <td>0.109292</td>
      <td>0.518853</td>
      <td>0.3740</td>
      <td>0.3740</td>
    </tr>
    <tr>
      <td>2018-09-11</td>
      <td>2887.8899</td>
      <td>0.0357</td>
      <td>0.038589</td>
      <td>0.506184</td>
      <td>0.0357</td>
      <td>0.0357</td>
    </tr>
    <tr>
      <td>2018-09-12</td>
      <td>2888.9199</td>
      <td>0.5282</td>
      <td>0.062389</td>
      <td>0.516312</td>
      <td>0.5282</td>
      <td>0.5282</td>
    </tr>
    <tr>
      <td>2018-09-13</td>
      <td>2904.1799</td>
      <td>0.0275</td>
      <td>0.024318</td>
      <td>0.512939</td>
      <td>0.0275</td>
      <td>0.0275</td>
    </tr>
    <tr>
      <td>2018-09-14</td>
      <td>2904.9800</td>
      <td>-0.5570</td>
      <td>-0.004398</td>
      <td>0.511096</td>
      <td>0.5570</td>
      <td>-0.5570</td>
    </tr>
    <tr>
      <td>2018-09-17</td>
      <td>2888.8000</td>
      <td>0.5369</td>
      <td>0.085657</td>
      <td>0.519356</td>
      <td>0.5369</td>
      <td>0.5369</td>
    </tr>
    <tr>
      <td>2018-09-18</td>
      <td>2904.3101</td>
      <td>0.1253</td>
      <td>0.043616</td>
      <td>0.506222</td>
      <td>0.1253</td>
      <td>0.1253</td>
    </tr>
    <tr>
      <td>2018-09-19</td>
      <td>2907.9500</td>
      <td>0.7841</td>
      <td>-0.022149</td>
      <td>0.492499</td>
      <td>-0.7841</td>
      <td>-0.7841</td>
    </tr>
    <tr>
      <td>2018-09-20</td>
      <td>2930.7500</td>
      <td>-0.0369</td>
      <td>-0.010004</td>
      <td>0.495386</td>
      <td>0.0369</td>
      <td>0.0369</td>
    </tr>
    <tr>
      <td>2018-09-21</td>
      <td>2929.6699</td>
      <td>-0.3516</td>
      <td>-0.016698</td>
      <td>0.496104</td>
      <td>0.3516</td>
      <td>0.3516</td>
    </tr>
    <tr>
      <td>2018-09-24</td>
      <td>2919.3701</td>
      <td>-0.1305</td>
      <td>0.066607</td>
      <td>0.513857</td>
      <td>-0.1305</td>
      <td>-0.1305</td>
    </tr>
    <tr>
      <td>2018-09-25</td>
      <td>2915.5601</td>
      <td>-0.3289</td>
      <td>0.079102</td>
      <td>0.517531</td>
      <td>-0.3289</td>
      <td>-0.3289</td>
    </tr>
    <tr>
      <td>2018-09-26</td>
      <td>2905.9700</td>
      <td>0.2763</td>
      <td>0.015586</td>
      <td>0.505411</td>
      <td>0.2763</td>
      <td>0.2763</td>
    </tr>
    <tr>
      <td>2018-09-27</td>
      <td>2914.0000</td>
      <td>-0.0007</td>
      <td>0.057645</td>
      <td>0.509698</td>
      <td>-0.0007</td>
      <td>-0.0007</td>
    </tr>
    <tr>
      <td>2018-09-28</td>
      <td>2913.9800</td>
      <td>0.3641</td>
      <td>0.006411</td>
      <td>0.499877</td>
      <td>0.3641</td>
      <td>-0.3641</td>
    </tr>
    <tr>
      <td>2018-10-01</td>
      <td>2924.5901</td>
      <td>-0.0397</td>
      <td>0.073476</td>
      <td>0.508036</td>
      <td>-0.0397</td>
      <td>-0.0397</td>
    </tr>
    <tr>
      <td>2018-10-02</td>
      <td>2923.4299</td>
      <td>0.0712</td>
      <td>0.060342</td>
      <td>0.511296</td>
      <td>0.0712</td>
      <td>0.0712</td>
    </tr>
    <tr>
      <td>2018-10-03</td>
      <td>2925.5100</td>
      <td>-0.8169</td>
      <td>0.040497</td>
      <td>0.514592</td>
      <td>-0.8169</td>
      <td>-0.8169</td>
    </tr>
    <tr>
      <td>2018-10-04</td>
      <td>2901.6101</td>
      <td>-0.5528</td>
      <td>0.097745</td>
      <td>0.528218</td>
      <td>-0.5528</td>
      <td>-0.5528</td>
    </tr>
    <tr>
      <td>2018-10-05</td>
      <td>2885.5701</td>
      <td>-0.0395</td>
      <td>0.090056</td>
      <td>0.529704</td>
      <td>-0.0395</td>
      <td>-0.0395</td>
    </tr>
    <tr>
      <td>2018-10-08</td>
      <td>2884.4299</td>
      <td>-0.1418</td>
      <td>0.119854</td>
      <td>0.517993</td>
      <td>-0.1418</td>
      <td>-0.1418</td>
    </tr>
    <tr>
      <td>2018-10-09</td>
      <td>2880.3401</td>
      <td>-3.2864</td>
      <td>0.074206</td>
      <td>0.510293</td>
      <td>-3.2864</td>
      <td>-3.2864</td>
    </tr>
    <tr>
      <td>2018-10-10</td>
      <td>2785.6799</td>
      <td>-2.0573</td>
      <td>0.324693</td>
      <td>0.573833</td>
      <td>-2.0573</td>
      <td>-2.0573</td>
    </tr>
    <tr>
      <td>2018-10-11</td>
      <td>2728.3701</td>
      <td>1.4206</td>
      <td>0.405770</td>
      <td>0.604445</td>
      <td>1.4206</td>
      <td>1.4206</td>
    </tr>
    <tr>
      <td>2018-10-12</td>
      <td>2767.1299</td>
      <td>-0.5905</td>
      <td>0.132978</td>
      <td>0.541424</td>
      <td>-0.5905</td>
      <td>-0.5905</td>
    </tr>
    <tr>
      <td>2018-10-15</td>
      <td>2750.7900</td>
      <td>2.1496</td>
      <td>0.116123</td>
      <td>0.520947</td>
      <td>2.1496</td>
      <td>2.1496</td>
    </tr>
    <tr>
      <td>2018-10-16</td>
      <td>2809.9199</td>
      <td>-0.0253</td>
      <td>0.188352</td>
      <td>0.529802</td>
      <td>-0.0253</td>
      <td>-0.0253</td>
    </tr>
    <tr>
      <td>2018-10-17</td>
      <td>2809.2100</td>
      <td>-1.4392</td>
      <td>0.046978</td>
      <td>0.520826</td>
      <td>-1.4392</td>
      <td>-1.4392</td>
    </tr>
    <tr>
      <td>2018-10-18</td>
      <td>2768.7800</td>
      <td>-0.0361</td>
      <td>0.193653</td>
      <td>0.590816</td>
      <td>-0.0361</td>
      <td>-0.0361</td>
    </tr>
    <tr>
      <td>2018-10-19</td>
      <td>2767.7800</td>
      <td>-0.4300</td>
      <td>0.149193</td>
      <td>0.562891</td>
      <td>-0.4300</td>
      <td>-0.4300</td>
    </tr>
    <tr>
      <td>2018-10-22</td>
      <td>2755.8799</td>
      <td>-0.5512</td>
      <td>-0.025187</td>
      <td>0.501116</td>
      <td>0.5512</td>
      <td>-0.5512</td>
    </tr>
    <tr>
      <td>2018-10-23</td>
      <td>2740.6899</td>
      <td>-3.0864</td>
      <td>0.200157</td>
      <td>0.531349</td>
      <td>-3.0864</td>
      <td>-3.0864</td>
    </tr>
    <tr>
      <td>2018-10-24</td>
      <td>2656.1001</td>
      <td>1.8625</td>
      <td>0.259800</td>
      <td>0.545482</td>
      <td>1.8625</td>
      <td>1.8625</td>
    </tr>
    <tr>
      <td>2018-10-25</td>
      <td>2705.5701</td>
      <td>-1.7327</td>
      <td>0.177072</td>
      <td>0.543754</td>
      <td>-1.7327</td>
      <td>-1.7327</td>
    </tr>
    <tr>
      <td>2018-10-26</td>
      <td>2658.6899</td>
      <td>-0.6560</td>
      <td>0.105876</td>
      <td>0.531906</td>
      <td>-0.6560</td>
      <td>-0.6560</td>
    </tr>
    <tr>
      <td>2018-10-29</td>
      <td>2641.2500</td>
      <td>1.5667</td>
      <td>0.287573</td>
      <td>0.569861</td>
      <td>1.5667</td>
      <td>1.5667</td>
    </tr>
    <tr>
      <td>2018-10-30</td>
      <td>2682.6299</td>
      <td>1.0851</td>
      <td>0.188263</td>
      <td>0.534186</td>
      <td>1.0851</td>
      <td>1.0851</td>
    </tr>
    <tr>
      <td>2018-10-31</td>
      <td>2711.7400</td>
      <td>1.0558</td>
      <td>-0.128042</td>
      <td>0.494072</td>
      <td>-1.0558</td>
      <td>-1.0558</td>
    </tr>
    <tr>
      <td>2018-11-01</td>
      <td>2740.3701</td>
      <td>-0.6317</td>
      <td>0.114445</td>
      <td>0.533998</td>
      <td>-0.6317</td>
      <td>-0.6317</td>
    </tr>
    <tr>
      <td>2018-11-02</td>
      <td>2723.0601</td>
      <td>0.5600</td>
      <td>-0.064864</td>
      <td>0.500900</td>
      <td>-0.5600</td>
      <td>0.5600</td>
    </tr>
    <tr>
      <td>2018-11-05</td>
      <td>2738.3101</td>
      <td>0.6259</td>
      <td>0.098417</td>
      <td>0.533411</td>
      <td>0.6259</td>
      <td>0.6259</td>
    </tr>
    <tr>
      <td>2018-11-06</td>
      <td>2755.4500</td>
      <td>2.1209</td>
      <td>-0.103165</td>
      <td>0.474917</td>
      <td>-2.1209</td>
      <td>-2.1209</td>
    </tr>
    <tr>
      <td>2018-11-07</td>
      <td>2813.8899</td>
      <td>-0.2509</td>
      <td>-0.197549</td>
      <td>0.441553</td>
      <td>0.2509</td>
      <td>0.2509</td>
    </tr>
    <tr>
      <td>2018-11-08</td>
      <td>2806.8301</td>
      <td>-0.9199</td>
      <td>-0.064034</td>
      <td>0.464121</td>
      <td>0.9199</td>
      <td>0.9199</td>
    </tr>
    <tr>
      <td>2018-11-09</td>
      <td>2781.0100</td>
      <td>-1.9701</td>
      <td>0.018906</td>
      <td>0.505712</td>
      <td>-1.9701</td>
      <td>-1.9701</td>
    </tr>
    <tr>
      <td>2018-11-12</td>
      <td>2726.2200</td>
      <td>-0.1482</td>
      <td>0.200699</td>
      <td>0.541747</td>
      <td>-0.1482</td>
      <td>-0.1482</td>
    </tr>
    <tr>
      <td>2018-11-13</td>
      <td>2722.1799</td>
      <td>-0.7567</td>
      <td>0.055079</td>
      <td>0.512129</td>
      <td>-0.7567</td>
      <td>-0.7567</td>
    </tr>
    <tr>
      <td>2018-11-14</td>
      <td>2701.5801</td>
      <td>1.0594</td>
      <td>0.133304</td>
      <td>0.508973</td>
      <td>1.0594</td>
      <td>1.0594</td>
    </tr>
    <tr>
      <td>2018-11-15</td>
      <td>2730.2000</td>
      <td>0.2223</td>
      <td>0.045720</td>
      <td>0.490260</td>
      <td>0.2223</td>
      <td>-0.2223</td>
    </tr>
    <tr>
      <td>2018-11-16</td>
      <td>2736.2700</td>
      <td>-1.6643</td>
      <td>0.104683</td>
      <td>0.515474</td>
      <td>-1.6643</td>
      <td>-1.6643</td>
    </tr>
    <tr>
      <td>2018-11-19</td>
      <td>2690.7300</td>
      <td>-1.8151</td>
      <td>0.198977</td>
      <td>0.556429</td>
      <td>-1.8151</td>
      <td>-1.8151</td>
    </tr>
    <tr>
      <td>2018-11-20</td>
      <td>2641.8899</td>
      <td>0.3043</td>
      <td>0.367257</td>
      <td>0.601230</td>
      <td>0.3043</td>
      <td>0.3043</td>
    </tr>
    <tr>
      <td>2018-11-21</td>
      <td>2649.9299</td>
      <td>-0.6555</td>
      <td>0.101964</td>
      <td>0.541535</td>
      <td>-0.6555</td>
      <td>-0.6555</td>
    </tr>
    <tr>
      <td>2018-11-23</td>
      <td>2632.5601</td>
      <td>1.5532</td>
      <td>0.134726</td>
      <td>0.535943</td>
      <td>1.5532</td>
      <td>1.5532</td>
    </tr>
    <tr>
      <td>2018-11-26</td>
      <td>2673.4500</td>
      <td>0.3262</td>
      <td>0.101556</td>
      <td>0.502244</td>
      <td>0.3262</td>
      <td>0.3262</td>
    </tr>
    <tr>
      <td>2018-11-27</td>
      <td>2682.1699</td>
      <td>2.2974</td>
      <td>0.073355</td>
      <td>0.506475</td>
      <td>2.2974</td>
      <td>2.2974</td>
    </tr>
    <tr>
      <td>2018-11-28</td>
      <td>2743.7900</td>
      <td>-0.2183</td>
      <td>-0.050571</td>
      <td>0.504868</td>
      <td>0.2183</td>
      <td>-0.2183</td>
    </tr>
    <tr>
      <td>2018-11-29</td>
      <td>2737.8000</td>
      <td>0.8171</td>
      <td>-0.029274</td>
      <td>0.508847</td>
      <td>-0.8171</td>
      <td>0.8171</td>
    </tr>
    <tr>
      <td>2018-11-30</td>
      <td>2760.1699</td>
      <td>1.0941</td>
      <td>-0.098560</td>
      <td>0.500708</td>
      <td>-1.0941</td>
      <td>1.0941</td>
    </tr>
    <tr>
      <td>2018-12-03</td>
      <td>2790.3701</td>
      <td>-3.2365</td>
      <td>-0.054809</td>
      <td>0.474810</td>
      <td>3.2365</td>
      <td>3.2365</td>
    </tr>
    <tr>
      <td>2018-12-04</td>
      <td>2700.0601</td>
      <td>-0.1522</td>
      <td>0.021828</td>
      <td>0.502038</td>
      <td>-0.1522</td>
      <td>-0.1522</td>
    </tr>
    <tr>
      <td>2018-12-06</td>
      <td>2695.9500</td>
      <td>-2.3320</td>
      <td>0.253109</td>
      <td>0.544680</td>
      <td>-2.3320</td>
      <td>-2.3320</td>
    </tr>
    <tr>
      <td>2018-12-07</td>
      <td>2633.0801</td>
      <td>0.1762</td>
      <td>0.055150</td>
      <td>0.502704</td>
      <td>0.1762</td>
      <td>0.1762</td>
    </tr>
    <tr>
      <td>2018-12-10</td>
      <td>2637.7200</td>
      <td>-0.0356</td>
      <td>0.239582</td>
      <td>0.537784</td>
      <td>-0.0356</td>
      <td>-0.0356</td>
    </tr>
    <tr>
      <td>2018-12-11</td>
      <td>2636.7800</td>
      <td>0.5420</td>
      <td>0.189708</td>
      <td>0.508779</td>
      <td>0.5420</td>
      <td>0.5420</td>
    </tr>
    <tr>
      <td>2018-12-12</td>
      <td>2651.0701</td>
      <td>-0.0200</td>
      <td>0.075588</td>
      <td>0.519570</td>
      <td>-0.0200</td>
      <td>-0.0200</td>
    </tr>
    <tr>
      <td>2018-12-13</td>
      <td>2650.5400</td>
      <td>-1.9087</td>
      <td>0.265641</td>
      <td>0.569807</td>
      <td>-1.9087</td>
      <td>-1.9087</td>
    </tr>
    <tr>
      <td>2018-12-14</td>
      <td>2599.9500</td>
      <td>-2.0773</td>
      <td>0.121873</td>
      <td>0.563411</td>
      <td>-2.0773</td>
      <td>-2.0773</td>
    </tr>
    <tr>
      <td>2018-12-17</td>
      <td>2545.9399</td>
      <td>0.0086</td>
      <td>0.443035</td>
      <td>0.617455</td>
      <td>0.0086</td>
      <td>0.0086</td>
    </tr>
    <tr>
      <td>2018-12-18</td>
      <td>2546.1599</td>
      <td>-1.5396</td>
      <td>0.152110</td>
      <td>0.541910</td>
      <td>-1.5396</td>
      <td>-1.5396</td>
    </tr>
    <tr>
      <td>2018-12-19</td>
      <td>2506.9600</td>
      <td>-1.5772</td>
      <td>0.232799</td>
      <td>0.548387</td>
      <td>-1.5772</td>
      <td>-1.5772</td>
    </tr>
    <tr>
      <td>2018-12-20</td>
      <td>2467.4199</td>
      <td>-2.0588</td>
      <td>0.364913</td>
      <td>0.575939</td>
      <td>-2.0588</td>
      <td>-2.0588</td>
    </tr>
    <tr>
      <td>2018-12-21</td>
      <td>2416.6201</td>
      <td>-2.7112</td>
      <td>0.405594</td>
      <td>0.599746</td>
      <td>-2.7112</td>
      <td>-2.7112</td>
    </tr>
    <tr>
      <td>2018-12-24</td>
      <td>2351.1001</td>
      <td>4.9594</td>
      <td>0.486592</td>
      <td>0.629196</td>
      <td>4.9594</td>
      <td>4.9594</td>
    </tr>
    <tr>
      <td>2018-12-26</td>
      <td>2467.7000</td>
      <td>0.8563</td>
      <td>0.115898</td>
      <td>0.534828</td>
      <td>0.8563</td>
      <td>0.8563</td>
    </tr>
    <tr>
      <td>2018-12-27</td>
      <td>2488.8301</td>
      <td>-0.1242</td>
      <td>-0.132591</td>
      <td>0.471886</td>
      <td>0.1242</td>
      <td>0.1242</td>
    </tr>
    <tr>
      <td>2018-12-28</td>
      <td>2485.7400</td>
      <td>0.0000</td>
      <td>0.225420</td>
      <td>0.572535</td>
      <td>0.0000</td>
      <td>0.0000</td>
    </tr>
  </tbody>
</table>