<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>cdate</th>
      <th>cp</th>
      <th>pctlead</th>
      <th>pred_linr</th>
      <th>pred_logr</th>
      <th>eff_linr</th>
      <th>eff_logr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2016-01-04</td>
      <td>2012.6600</td>
      <td>0.2012</td>
      <td>0.138808</td>
      <td>0.522023</td>
      <td>0.2012</td>
      <td>0.2012</td>
    </tr>
    <tr>
      <td>2016-01-05</td>
      <td>2016.7100</td>
      <td>-1.3115</td>
      <td>0.082992</td>
      <td>0.525085</td>
      <td>-1.3115</td>
      <td>-1.3115</td>
    </tr>
    <tr>
      <td>2016-01-06</td>
      <td>1990.2600</td>
      <td>-2.3700</td>
      <td>0.134576</td>
      <td>0.534962</td>
      <td>-2.3700</td>
      <td>-2.3700</td>
    </tr>
    <tr>
      <td>2016-01-07</td>
      <td>1943.0900</td>
      <td>-1.0838</td>
      <td>0.267443</td>
      <td>0.571493</td>
      <td>-1.0838</td>
      <td>-1.0838</td>
    </tr>
    <tr>
      <td>2016-01-08</td>
      <td>1922.0300</td>
      <td>0.0853</td>
      <td>0.337749</td>
      <td>0.598428</td>
      <td>0.0853</td>
      <td>0.0853</td>
    </tr>
    <tr>
      <td>2016-01-11</td>
      <td>1923.6700</td>
      <td>0.7803</td>
      <td>0.150098</td>
      <td>0.561303</td>
      <td>0.7803</td>
      <td>0.7803</td>
    </tr>
    <tr>
      <td>2016-01-12</td>
      <td>1938.6801</td>
      <td>-2.4965</td>
      <td>0.156455</td>
      <td>0.553038</td>
      <td>-2.4965</td>
      <td>-2.4965</td>
    </tr>
    <tr>
      <td>2016-01-13</td>
      <td>1890.2800</td>
      <td>1.6696</td>
      <td>0.263656</td>
      <td>0.578605</td>
      <td>1.6696</td>
      <td>1.6696</td>
    </tr>
    <tr>
      <td>2016-01-14</td>
      <td>1921.8400</td>
      <td>-2.1599</td>
      <td>0.203708</td>
      <td>0.580845</td>
      <td>-2.1599</td>
      <td>-2.1599</td>
    </tr>
    <tr>
      <td>2016-01-15</td>
      <td>1880.3300</td>
      <td>0.0532</td>
      <td>0.113061</td>
      <td>0.577887</td>
      <td>0.0532</td>
      <td>0.0532</td>
    </tr>
    <tr>
      <td>2016-01-19</td>
      <td>1881.3300</td>
      <td>-1.1694</td>
      <td>0.184140</td>
      <td>0.574325</td>
      <td>-1.1694</td>
      <td>-1.1694</td>
    </tr>
    <tr>
      <td>2016-01-20</td>
      <td>1859.3300</td>
      <td>0.5195</td>
      <td>0.213103</td>
      <td>0.551596</td>
      <td>0.5195</td>
      <td>0.5195</td>
    </tr>
    <tr>
      <td>2016-01-21</td>
      <td>1868.9900</td>
      <td>2.0284</td>
      <td>0.005139</td>
      <td>0.526787</td>
      <td>2.0284</td>
      <td>2.0284</td>
    </tr>
    <tr>
      <td>2016-01-22</td>
      <td>1906.9000</td>
      <td>-1.5638</td>
      <td>0.068600</td>
      <td>0.526959</td>
      <td>-1.5638</td>
      <td>-1.5638</td>
    </tr>
    <tr>
      <td>2016-01-25</td>
      <td>1877.0800</td>
      <td>1.4144</td>
      <td>-0.049505</td>
      <td>0.502767</td>
      <td>-1.4144</td>
      <td>1.4144</td>
    </tr>
    <tr>
      <td>2016-01-26</td>
      <td>1903.6300</td>
      <td>-1.0863</td>
      <td>0.212138</td>
      <td>0.557874</td>
      <td>-1.0863</td>
      <td>-1.0863</td>
    </tr>
    <tr>
      <td>2016-01-27</td>
      <td>1882.9500</td>
      <td>0.5529</td>
      <td>-0.081520</td>
      <td>0.509865</td>
      <td>-0.5529</td>
      <td>0.5529</td>
    </tr>
    <tr>
      <td>2016-01-28</td>
      <td>1893.3600</td>
      <td>2.4760</td>
      <td>0.029877</td>
      <td>0.530210</td>
      <td>2.4760</td>
      <td>2.4760</td>
    </tr>
    <tr>
      <td>2016-01-29</td>
      <td>1940.2400</td>
      <td>-0.0443</td>
      <td>-0.150116</td>
      <td>0.459622</td>
      <td>0.0443</td>
      <td>0.0443</td>
    </tr>
    <tr>
      <td>2016-02-01</td>
      <td>1939.3800</td>
      <td>-1.8743</td>
      <td>-0.190978</td>
      <td>0.445271</td>
      <td>1.8743</td>
      <td>1.8743</td>
    </tr>
    <tr>
      <td>2016-02-02</td>
      <td>1903.0300</td>
      <td>0.4992</td>
      <td>0.243517</td>
      <td>0.551556</td>
      <td>0.4992</td>
      <td>0.4992</td>
    </tr>
    <tr>
      <td>2016-02-03</td>
      <td>1912.5300</td>
      <td>0.1527</td>
      <td>-0.044115</td>
      <td>0.503750</td>
      <td>-0.1527</td>
      <td>0.1527</td>
    </tr>
    <tr>
      <td>2016-02-04</td>
      <td>1915.4500</td>
      <td>-1.8481</td>
      <td>-0.064641</td>
      <td>0.499540</td>
      <td>1.8481</td>
      <td>1.8481</td>
    </tr>
    <tr>
      <td>2016-02-05</td>
      <td>1880.0500</td>
      <td>-1.4154</td>
      <td>0.074950</td>
      <td>0.518892</td>
      <td>-1.4154</td>
      <td>-1.4154</td>
    </tr>
    <tr>
      <td>2016-02-08</td>
      <td>1853.4399</td>
      <td>-0.0664</td>
      <td>0.253303</td>
      <td>0.533249</td>
      <td>-0.0664</td>
      <td>-0.0664</td>
    </tr>
    <tr>
      <td>2016-02-09</td>
      <td>1852.2100</td>
      <td>-0.0189</td>
      <td>0.135843</td>
      <td>0.537675</td>
      <td>-0.0189</td>
      <td>-0.0189</td>
    </tr>
    <tr>
      <td>2016-02-10</td>
      <td>1851.8600</td>
      <td>-1.2301</td>
      <td>0.101288</td>
      <td>0.545138</td>
      <td>-1.2301</td>
      <td>-1.2301</td>
    </tr>
    <tr>
      <td>2016-02-11</td>
      <td>1829.0800</td>
      <td>1.9518</td>
      <td>0.173074</td>
      <td>0.551301</td>
      <td>1.9518</td>
      <td>1.9518</td>
    </tr>
    <tr>
      <td>2016-02-12</td>
      <td>1864.7800</td>
      <td>1.6517</td>
      <td>0.077266</td>
      <td>0.532863</td>
      <td>1.6517</td>
      <td>1.6517</td>
    </tr>
    <tr>
      <td>2016-02-16</td>
      <td>1895.5800</td>
      <td>1.6480</td>
      <td>-0.081755</td>
      <td>0.503567</td>
      <td>-1.6480</td>
      <td>1.6480</td>
    </tr>
    <tr>
      <td>2016-02-17</td>
      <td>1926.8199</td>
      <td>-0.4666</td>
      <td>-0.117320</td>
      <td>0.496647</td>
      <td>0.4666</td>
      <td>0.4666</td>
    </tr>
    <tr>
      <td>2016-02-18</td>
      <td>1917.8300</td>
      <td>-0.0026</td>
      <td>-0.018978</td>
      <td>0.507341</td>
      <td>0.0026</td>
      <td>-0.0026</td>
    </tr>
    <tr>
      <td>2016-02-19</td>
      <td>1917.7800</td>
      <td>1.4454</td>
      <td>-0.072623</td>
      <td>0.509335</td>
      <td>-1.4454</td>
      <td>1.4454</td>
    </tr>
    <tr>
      <td>2016-02-22</td>
      <td>1945.5000</td>
      <td>-1.2454</td>
      <td>-0.112322</td>
      <td>0.474375</td>
      <td>1.2454</td>
      <td>1.2454</td>
    </tr>
    <tr>
      <td>2016-02-23</td>
      <td>1921.2700</td>
      <td>0.4440</td>
      <td>-0.139965</td>
      <td>0.455330</td>
      <td>-0.4440</td>
      <td>-0.4440</td>
    </tr>
    <tr>
      <td>2016-02-24</td>
      <td>1929.8000</td>
      <td>1.1348</td>
      <td>0.052651</td>
      <td>0.482653</td>
      <td>1.1348</td>
      <td>-1.1348</td>
    </tr>
    <tr>
      <td>2016-02-25</td>
      <td>1951.7000</td>
      <td>-0.1870</td>
      <td>-0.154279</td>
      <td>0.451968</td>
      <td>0.1870</td>
      <td>0.1870</td>
    </tr>
    <tr>
      <td>2016-02-26</td>
      <td>1948.0500</td>
      <td>-0.8121</td>
      <td>-0.086163</td>
      <td>0.490717</td>
      <td>0.8121</td>
      <td>0.8121</td>
    </tr>
    <tr>
      <td>2016-02-29</td>
      <td>1932.2300</td>
      <td>2.3869</td>
      <td>0.121385</td>
      <td>0.518947</td>
      <td>2.3869</td>
      <td>2.3869</td>
    </tr>
    <tr>
      <td>2016-03-01</td>
      <td>1978.3500</td>
      <td>0.4094</td>
      <td>-0.129180</td>
      <td>0.466241</td>
      <td>-0.4094</td>
      <td>-0.4094</td>
    </tr>
    <tr>
      <td>2016-03-02</td>
      <td>1986.4500</td>
      <td>0.3499</td>
      <td>-0.120381</td>
      <td>0.476483</td>
      <td>-0.3499</td>
      <td>-0.3499</td>
    </tr>
    <tr>
      <td>2016-03-03</td>
      <td>1993.4000</td>
      <td>0.3306</td>
      <td>-0.065540</td>
      <td>0.486831</td>
      <td>-0.3306</td>
      <td>-0.3306</td>
    </tr>
    <tr>
      <td>2016-03-04</td>
      <td>1999.9900</td>
      <td>0.0885</td>
      <td>-0.050636</td>
      <td>0.485076</td>
      <td>-0.0885</td>
      <td>-0.0885</td>
    </tr>
    <tr>
      <td>2016-03-07</td>
      <td>2001.7600</td>
      <td>-1.1240</td>
      <td>-0.084150</td>
      <td>0.485396</td>
      <td>1.1240</td>
      <td>1.1240</td>
    </tr>
    <tr>
      <td>2016-03-08</td>
      <td>1979.2600</td>
      <td>0.5052</td>
      <td>0.070701</td>
      <td>0.514306</td>
      <td>0.5052</td>
      <td>0.5052</td>
    </tr>
    <tr>
      <td>2016-03-09</td>
      <td>1989.2600</td>
      <td>0.0156</td>
      <td>-0.051136</td>
      <td>0.477045</td>
      <td>-0.0156</td>
      <td>-0.0156</td>
    </tr>
    <tr>
      <td>2016-03-10</td>
      <td>1989.5699</td>
      <td>1.6396</td>
      <td>-0.006471</td>
      <td>0.488642</td>
      <td>-1.6396</td>
      <td>-1.6396</td>
    </tr>
    <tr>
      <td>2016-03-11</td>
      <td>2022.1899</td>
      <td>-0.1261</td>
      <td>-0.110326</td>
      <td>0.476667</td>
      <td>0.1261</td>
      <td>0.1261</td>
    </tr>
    <tr>
      <td>2016-03-14</td>
      <td>2019.6400</td>
      <td>-0.1837</td>
      <td>-0.001994</td>
      <td>0.486996</td>
      <td>0.1837</td>
      <td>0.1837</td>
    </tr>
    <tr>
      <td>2016-03-15</td>
      <td>2015.9301</td>
      <td>0.5600</td>
      <td>0.026639</td>
      <td>0.513879</td>
      <td>0.5600</td>
      <td>0.5600</td>
    </tr>
    <tr>
      <td>2016-03-16</td>
      <td>2027.2200</td>
      <td>0.6595</td>
      <td>0.016161</td>
      <td>0.514441</td>
      <td>0.6595</td>
      <td>0.6595</td>
    </tr>
    <tr>
      <td>2016-03-17</td>
      <td>2040.5900</td>
      <td>0.4406</td>
      <td>-0.158757</td>
      <td>0.476527</td>
      <td>-0.4406</td>
      <td>-0.4406</td>
    </tr>
    <tr>
      <td>2016-03-18</td>
      <td>2049.5801</td>
      <td>0.0986</td>
      <td>-0.038504</td>
      <td>0.487111</td>
      <td>-0.0986</td>
      <td>-0.0986</td>
    </tr>
    <tr>
      <td>2016-03-21</td>
      <td>2051.6001</td>
      <td>-0.0877</td>
      <td>-0.049754</td>
      <td>0.472093</td>
      <td>0.0877</td>
      <td>0.0877</td>
    </tr>
    <tr>
      <td>2016-03-22</td>
      <td>2049.8000</td>
      <td>-0.6386</td>
      <td>0.018942</td>
      <td>0.500780</td>
      <td>-0.6386</td>
      <td>-0.6386</td>
    </tr>
    <tr>
      <td>2016-03-23</td>
      <td>2036.7100</td>
      <td>-0.0378</td>
      <td>0.013887</td>
      <td>0.510476</td>
      <td>-0.0378</td>
      <td>-0.0378</td>
    </tr>
    <tr>
      <td>2016-03-24</td>
      <td>2035.9399</td>
      <td>0.0545</td>
      <td>0.011590</td>
      <td>0.505687</td>
      <td>0.0545</td>
      <td>0.0545</td>
    </tr>
    <tr>
      <td>2016-03-28</td>
      <td>2037.0500</td>
      <td>0.8817</td>
      <td>0.029034</td>
      <td>0.494212</td>
      <td>0.8817</td>
      <td>-0.8817</td>
    </tr>
    <tr>
      <td>2016-03-29</td>
      <td>2055.0100</td>
      <td>0.4350</td>
      <td>-0.015240</td>
      <td>0.488584</td>
      <td>-0.4350</td>
      <td>-0.4350</td>
    </tr>
    <tr>
      <td>2016-03-30</td>
      <td>2063.9500</td>
      <td>-0.2040</td>
      <td>-0.018558</td>
      <td>0.494195</td>
      <td>0.2040</td>
      <td>0.2040</td>
    </tr>
    <tr>
      <td>2016-03-31</td>
      <td>2059.7400</td>
      <td>0.6331</td>
      <td>0.007166</td>
      <td>0.513655</td>
      <td>0.6331</td>
      <td>0.6331</td>
    </tr>
    <tr>
      <td>2016-04-01</td>
      <td>2072.7800</td>
      <td>-0.3208</td>
      <td>-0.008269</td>
      <td>0.514331</td>
      <td>0.3208</td>
      <td>-0.3208</td>
    </tr>
    <tr>
      <td>2016-04-04</td>
      <td>2066.1299</td>
      <td>-1.0144</td>
      <td>-0.019777</td>
      <td>0.498603</td>
      <td>1.0144</td>
      <td>1.0144</td>
    </tr>
    <tr>
      <td>2016-04-05</td>
      <td>2045.1700</td>
      <td>1.0508</td>
      <td>0.098438</td>
      <td>0.520880</td>
      <td>1.0508</td>
      <td>1.0508</td>
    </tr>
    <tr>
      <td>2016-04-06</td>
      <td>2066.6599</td>
      <td>-1.1976</td>
      <td>-0.000481</td>
      <td>0.492780</td>
      <td>1.1976</td>
      <td>1.1976</td>
    </tr>
    <tr>
      <td>2016-04-07</td>
      <td>2041.9100</td>
      <td>0.2787</td>
      <td>0.005050</td>
      <td>0.503815</td>
      <td>0.2787</td>
      <td>0.2787</td>
    </tr>
    <tr>
      <td>2016-04-08</td>
      <td>2047.6000</td>
      <td>-0.2740</td>
      <td>0.093908</td>
      <td>0.528020</td>
      <td>-0.2740</td>
      <td>-0.2740</td>
    </tr>
    <tr>
      <td>2016-04-11</td>
      <td>2041.9900</td>
      <td>0.9662</td>
      <td>0.064846</td>
      <td>0.507658</td>
      <td>0.9662</td>
      <td>0.9662</td>
    </tr>
    <tr>
      <td>2016-04-12</td>
      <td>2061.7200</td>
      <td>1.0040</td>
      <td>-0.003302</td>
      <td>0.507703</td>
      <td>-1.0040</td>
      <td>1.0040</td>
    </tr>
    <tr>
      <td>2016-04-13</td>
      <td>2082.4199</td>
      <td>0.0173</td>
      <td>-0.000707</td>
      <td>0.501485</td>
      <td>-0.0173</td>
      <td>0.0173</td>
    </tr>
    <tr>
      <td>2016-04-14</td>
      <td>2082.7800</td>
      <td>-0.0984</td>
      <td>-0.085787</td>
      <td>0.490627</td>
      <td>0.0984</td>
      <td>0.0984</td>
    </tr>
    <tr>
      <td>2016-04-15</td>
      <td>2080.7300</td>
      <td>0.6541</td>
      <td>0.076368</td>
      <td>0.529829</td>
      <td>0.6541</td>
      <td>0.6541</td>
    </tr>
    <tr>
      <td>2016-04-18</td>
      <td>2094.3401</td>
      <td>0.3084</td>
      <td>-0.077388</td>
      <td>0.487596</td>
      <td>-0.3084</td>
      <td>-0.3084</td>
    </tr>
    <tr>
      <td>2016-04-19</td>
      <td>2100.8000</td>
      <td>0.0762</td>
      <td>-0.041784</td>
      <td>0.487046</td>
      <td>-0.0762</td>
      <td>-0.0762</td>
    </tr>
    <tr>
      <td>2016-04-20</td>
      <td>2102.3999</td>
      <td>-0.5194</td>
      <td>-0.038771</td>
      <td>0.481242</td>
      <td>0.5194</td>
      <td>0.5194</td>
    </tr>
    <tr>
      <td>2016-04-21</td>
      <td>2091.4800</td>
      <td>0.0048</td>
      <td>0.017785</td>
      <td>0.497637</td>
      <td>0.0048</td>
      <td>-0.0048</td>
    </tr>
    <tr>
      <td>2016-04-22</td>
      <td>2091.5801</td>
      <td>-0.1812</td>
      <td>0.004086</td>
      <td>0.509389</td>
      <td>-0.1812</td>
      <td>-0.1812</td>
    </tr>
    <tr>
      <td>2016-04-25</td>
      <td>2087.7900</td>
      <td>0.1873</td>
      <td>0.036477</td>
      <td>0.504136</td>
      <td>0.1873</td>
      <td>0.1873</td>
    </tr>
    <tr>
      <td>2016-04-26</td>
      <td>2091.7000</td>
      <td>0.1649</td>
      <td>0.020714</td>
      <td>0.498788</td>
      <td>0.1649</td>
      <td>-0.1649</td>
    </tr>
    <tr>
      <td>2016-04-27</td>
      <td>2095.1499</td>
      <td>-0.9231</td>
      <td>0.036669</td>
      <td>0.503691</td>
      <td>-0.9231</td>
      <td>-0.9231</td>
    </tr>
    <tr>
      <td>2016-04-28</td>
      <td>2075.8101</td>
      <td>-0.5063</td>
      <td>0.065872</td>
      <td>0.524839</td>
      <td>-0.5063</td>
      <td>-0.5063</td>
    </tr>
    <tr>
      <td>2016-04-29</td>
      <td>2065.3000</td>
      <td>0.7810</td>
      <td>0.119498</td>
      <td>0.544147</td>
      <td>0.7810</td>
      <td>0.7810</td>
    </tr>
    <tr>
      <td>2016-05-02</td>
      <td>2081.4299</td>
      <td>-0.8677</td>
      <td>0.028056</td>
      <td>0.507515</td>
      <td>-0.8677</td>
      <td>-0.8677</td>
    </tr>
    <tr>
      <td>2016-05-03</td>
      <td>2063.3701</td>
      <td>-0.5937</td>
      <td>0.073796</td>
      <td>0.518007</td>
      <td>-0.5937</td>
      <td>-0.5937</td>
    </tr>
    <tr>
      <td>2016-05-04</td>
      <td>2051.1201</td>
      <td>-0.0239</td>
      <td>0.164200</td>
      <td>0.538545</td>
      <td>-0.0239</td>
      <td>-0.0239</td>
    </tr>
    <tr>
      <td>2016-05-05</td>
      <td>2050.6299</td>
      <td>0.3175</td>
      <td>0.084592</td>
      <td>0.529074</td>
      <td>0.3175</td>
      <td>0.3175</td>
    </tr>
    <tr>
      <td>2016-05-06</td>
      <td>2057.1399</td>
      <td>0.0753</td>
      <td>0.016591</td>
      <td>0.526132</td>
      <td>0.0753</td>
      <td>0.0753</td>
    </tr>
    <tr>
      <td>2016-05-09</td>
      <td>2058.6899</td>
      <td>1.2484</td>
      <td>0.091231</td>
      <td>0.519109</td>
      <td>1.2484</td>
      <td>1.2484</td>
    </tr>
    <tr>
      <td>2016-05-10</td>
      <td>2084.3899</td>
      <td>-0.9562</td>
      <td>-0.017324</td>
      <td>0.493184</td>
      <td>0.9562</td>
      <td>0.9562</td>
    </tr>
    <tr>
      <td>2016-05-11</td>
      <td>2064.4600</td>
      <td>-0.0169</td>
      <td>0.066596</td>
      <td>0.524746</td>
      <td>-0.0169</td>
      <td>-0.0169</td>
    </tr>
    <tr>
      <td>2016-05-12</td>
      <td>2064.1101</td>
      <td>-0.8478</td>
      <td>0.064409</td>
      <td>0.533576</td>
      <td>-0.8478</td>
      <td>-0.8478</td>
    </tr>
    <tr>
      <td>2016-05-13</td>
      <td>2046.6100</td>
      <td>0.9797</td>
      <td>0.051777</td>
      <td>0.525046</td>
      <td>0.9797</td>
      <td>0.9797</td>
    </tr>
    <tr>
      <td>2016-05-16</td>
      <td>2066.6599</td>
      <td>-0.9411</td>
      <td>-0.003333</td>
      <td>0.496019</td>
      <td>0.9411</td>
      <td>0.9411</td>
    </tr>
    <tr>
      <td>2016-05-17</td>
      <td>2047.2100</td>
      <td>0.0205</td>
      <td>0.091550</td>
      <td>0.507951</td>
      <td>0.0205</td>
      <td>0.0205</td>
    </tr>
    <tr>
      <td>2016-05-18</td>
      <td>2047.6300</td>
      <td>-0.3707</td>
      <td>0.057704</td>
      <td>0.512348</td>
      <td>-0.3707</td>
      <td>-0.3707</td>
    </tr>
    <tr>
      <td>2016-05-19</td>
      <td>2040.0400</td>
      <td>0.6020</td>
      <td>0.127206</td>
      <td>0.535563</td>
      <td>0.6020</td>
      <td>0.6020</td>
    </tr>
    <tr>
      <td>2016-05-20</td>
      <td>2052.3201</td>
      <td>-0.2085</td>
      <td>-0.047469</td>
      <td>0.512528</td>
      <td>0.2085</td>
      <td>-0.2085</td>
    </tr>
    <tr>
      <td>2016-05-23</td>
      <td>2048.0400</td>
      <td>1.3681</td>
      <td>0.120524</td>
      <td>0.522153</td>
      <td>1.3681</td>
      <td>1.3681</td>
    </tr>
    <tr>
      <td>2016-05-24</td>
      <td>2076.0601</td>
      <td>0.6975</td>
      <td>-0.055969</td>
      <td>0.487065</td>
      <td>-0.6975</td>
      <td>-0.6975</td>
    </tr>
    <tr>
      <td>2016-05-25</td>
      <td>2090.5400</td>
      <td>-0.0210</td>
      <td>-0.016771</td>
      <td>0.497221</td>
      <td>0.0210</td>
      <td>0.0210</td>
    </tr>
    <tr>
      <td>2016-05-26</td>
      <td>2090.1001</td>
      <td>0.4287</td>
      <td>-0.064951</td>
      <td>0.498977</td>
      <td>-0.4287</td>
      <td>-0.4287</td>
    </tr>
    <tr>
      <td>2016-05-27</td>
      <td>2099.0601</td>
      <td>-0.1005</td>
      <td>-0.001198</td>
      <td>0.506782</td>
      <td>0.1005</td>
      <td>-0.1005</td>
    </tr>
    <tr>
      <td>2016-05-31</td>
      <td>2096.9500</td>
      <td>0.1135</td>
      <td>-0.076985</td>
      <td>0.483413</td>
      <td>-0.1135</td>
      <td>-0.1135</td>
    </tr>
    <tr>
      <td>2016-06-01</td>
      <td>2099.3301</td>
      <td>0.2825</td>
      <td>0.010902</td>
      <td>0.496039</td>
      <td>0.2825</td>
      <td>-0.2825</td>
    </tr>
    <tr>
      <td>2016-06-02</td>
      <td>2105.2600</td>
      <td>-0.2912</td>
      <td>-0.061157</td>
      <td>0.475523</td>
      <td>0.2912</td>
      <td>0.2912</td>
    </tr>
    <tr>
      <td>2016-06-03</td>
      <td>2099.1299</td>
      <td>0.4897</td>
      <td>-0.008974</td>
      <td>0.494185</td>
      <td>-0.4897</td>
      <td>-0.4897</td>
    </tr>
    <tr>
      <td>2016-06-06</td>
      <td>2109.4099</td>
      <td>0.1289</td>
      <td>0.038207</td>
      <td>0.497114</td>
      <td>0.1289</td>
      <td>-0.1289</td>
    </tr>
    <tr>
      <td>2016-06-07</td>
      <td>2112.1299</td>
      <td>0.3310</td>
      <td>-0.018395</td>
      <td>0.490925</td>
      <td>-0.3310</td>
      <td>-0.3310</td>
    </tr>
    <tr>
      <td>2016-06-08</td>
      <td>2119.1201</td>
      <td>-0.1718</td>
      <td>0.009024</td>
      <td>0.501623</td>
      <td>-0.1718</td>
      <td>-0.1718</td>
    </tr>
    <tr>
      <td>2016-06-09</td>
      <td>2115.4800</td>
      <td>-0.9175</td>
      <td>0.015259</td>
      <td>0.505402</td>
      <td>-0.9175</td>
      <td>-0.9175</td>
    </tr>
    <tr>
      <td>2016-06-10</td>
      <td>2096.0701</td>
      <td>-0.8115</td>
      <td>0.049344</td>
      <td>0.521769</td>
      <td>-0.8115</td>
      <td>-0.8115</td>
    </tr>
    <tr>
      <td>2016-06-13</td>
      <td>2079.0601</td>
      <td>-0.1799</td>
      <td>0.157614</td>
      <td>0.532854</td>
      <td>-0.1799</td>
      <td>-0.1799</td>
    </tr>
    <tr>
      <td>2016-06-14</td>
      <td>2075.3201</td>
      <td>-0.1841</td>
      <td>0.072743</td>
      <td>0.515090</td>
      <td>-0.1841</td>
      <td>-0.1841</td>
    </tr>
    <tr>
      <td>2016-06-15</td>
      <td>2071.5000</td>
      <td>0.3133</td>
      <td>0.091240</td>
      <td>0.517423</td>
      <td>0.3133</td>
      <td>0.3133</td>
    </tr>
    <tr>
      <td>2016-06-16</td>
      <td>2077.9900</td>
      <td>-0.3258</td>
      <td>0.069709</td>
      <td>0.515981</td>
      <td>-0.3258</td>
      <td>-0.3258</td>
    </tr>
    <tr>
      <td>2016-06-17</td>
      <td>2071.2200</td>
      <td>0.5808</td>
      <td>0.082005</td>
      <td>0.530685</td>
      <td>0.5808</td>
      <td>0.5808</td>
    </tr>
    <tr>
      <td>2016-06-20</td>
      <td>2083.2500</td>
      <td>0.2712</td>
      <td>0.089685</td>
      <td>0.529321</td>
      <td>0.2712</td>
      <td>0.2712</td>
    </tr>
    <tr>
      <td>2016-06-21</td>
      <td>2088.8999</td>
      <td>-0.1652</td>
      <td>0.031202</td>
      <td>0.517579</td>
      <td>-0.1652</td>
      <td>-0.1652</td>
    </tr>
    <tr>
      <td>2016-06-22</td>
      <td>2085.4500</td>
      <td>1.3364</td>
      <td>0.031810</td>
      <td>0.517044</td>
      <td>1.3364</td>
      <td>1.3364</td>
    </tr>
    <tr>
      <td>2016-06-23</td>
      <td>2113.3201</td>
      <td>-3.5920</td>
      <td>-0.018625</td>
      <td>0.498397</td>
      <td>3.5920</td>
      <td>3.5920</td>
    </tr>
    <tr>
      <td>2016-06-24</td>
      <td>2037.4100</td>
      <td>-1.8097</td>
      <td>0.112476</td>
      <td>0.540422</td>
      <td>-1.8097</td>
      <td>-1.8097</td>
    </tr>
    <tr>
      <td>2016-06-27</td>
      <td>2000.5400</td>
      <td>1.7770</td>
      <td>0.375675</td>
      <td>0.587921</td>
      <td>1.7770</td>
      <td>1.7770</td>
    </tr>
    <tr>
      <td>2016-06-28</td>
      <td>2036.0900</td>
      <td>1.7033</td>
      <td>0.027386</td>
      <td>0.501162</td>
      <td>1.7033</td>
      <td>1.7033</td>
    </tr>
    <tr>
      <td>2016-06-29</td>
      <td>2070.7700</td>
      <td>1.3565</td>
      <td>-0.153815</td>
      <td>0.461284</td>
      <td>-1.3565</td>
      <td>-1.3565</td>
    </tr>
    <tr>
      <td>2016-06-30</td>
      <td>2098.8601</td>
      <td>0.1949</td>
      <td>0.059295</td>
      <td>0.493786</td>
      <td>0.1949</td>
      <td>-0.1949</td>
    </tr>
    <tr>
      <td>2016-07-01</td>
      <td>2102.9500</td>
      <td>-0.6847</td>
      <td>-0.043821</td>
      <td>0.501389</td>
      <td>0.6847</td>
      <td>-0.6847</td>
    </tr>
    <tr>
      <td>2016-07-05</td>
      <td>2088.5500</td>
      <td>0.5353</td>
      <td>0.121283</td>
      <td>0.565929</td>
      <td>0.5353</td>
      <td>0.5353</td>
    </tr>
    <tr>
      <td>2016-07-06</td>
      <td>2099.7300</td>
      <td>-0.0872</td>
      <td>-0.054565</td>
      <td>0.518517</td>
      <td>0.0872</td>
      <td>-0.0872</td>
    </tr>
    <tr>
      <td>2016-07-07</td>
      <td>2097.8999</td>
      <td>1.5253</td>
      <td>-0.107511</td>
      <td>0.466733</td>
      <td>-1.5253</td>
      <td>-1.5253</td>
    </tr>
    <tr>
      <td>2016-07-08</td>
      <td>2129.8999</td>
      <td>0.3409</td>
      <td>-0.091949</td>
      <td>0.451397</td>
      <td>-0.3409</td>
      <td>-0.3409</td>
    </tr>
    <tr>
      <td>2016-07-11</td>
      <td>2137.1599</td>
      <td>0.7009</td>
      <td>-0.073036</td>
      <td>0.450402</td>
      <td>-0.7009</td>
      <td>-0.7009</td>
    </tr>
    <tr>
      <td>2016-07-12</td>
      <td>2152.1399</td>
      <td>0.0135</td>
      <td>-0.050584</td>
      <td>0.480275</td>
      <td>-0.0135</td>
      <td>-0.0135</td>
    </tr>
    <tr>
      <td>2016-07-13</td>
      <td>2152.4299</td>
      <td>0.5259</td>
      <td>-0.013608</td>
      <td>0.497559</td>
      <td>-0.5259</td>
      <td>-0.5259</td>
    </tr>
    <tr>
      <td>2016-07-14</td>
      <td>2163.7500</td>
      <td>-0.0929</td>
      <td>-0.111018</td>
      <td>0.481307</td>
      <td>0.0929</td>
      <td>0.0929</td>
    </tr>
    <tr>
      <td>2016-07-15</td>
      <td>2161.7400</td>
      <td>0.2382</td>
      <td>-0.023542</td>
      <td>0.490294</td>
      <td>-0.2382</td>
      <td>-0.2382</td>
    </tr>
    <tr>
      <td>2016-07-18</td>
      <td>2166.8899</td>
      <td>-0.1435</td>
      <td>-0.048939</td>
      <td>0.469835</td>
      <td>0.1435</td>
      <td>0.1435</td>
    </tr>
    <tr>
      <td>2016-07-19</td>
      <td>2163.7800</td>
      <td>0.4270</td>
      <td>0.036797</td>
      <td>0.490075</td>
      <td>0.4270</td>
      <td>-0.4270</td>
    </tr>
    <tr>
      <td>2016-07-20</td>
      <td>2173.0200</td>
      <td>-0.3613</td>
      <td>-0.039662</td>
      <td>0.484775</td>
      <td>0.3613</td>
      <td>0.3613</td>
    </tr>
    <tr>
      <td>2016-07-21</td>
      <td>2165.1699</td>
      <td>0.4554</td>
      <td>0.030438</td>
      <td>0.503505</td>
      <td>0.4554</td>
      <td>0.4554</td>
    </tr>
    <tr>
      <td>2016-07-22</td>
      <td>2175.0300</td>
      <td>-0.3011</td>
      <td>-0.019956</td>
      <td>0.499253</td>
      <td>0.3011</td>
      <td>0.3011</td>
    </tr>
    <tr>
      <td>2016-07-25</td>
      <td>2168.4800</td>
      <td>0.0323</td>
      <td>0.062601</td>
      <td>0.504466</td>
      <td>0.0323</td>
      <td>0.0323</td>
    </tr>
    <tr>
      <td>2016-07-26</td>
      <td>2169.1799</td>
      <td>-0.1199</td>
      <td>0.035537</td>
      <td>0.506699</td>
      <td>-0.1199</td>
      <td>-0.1199</td>
    </tr>
    <tr>
      <td>2016-07-27</td>
      <td>2166.5801</td>
      <td>0.1606</td>
      <td>0.066840</td>
      <td>0.512630</td>
      <td>0.1606</td>
      <td>0.1606</td>
    </tr>
    <tr>
      <td>2016-07-28</td>
      <td>2170.0601</td>
      <td>0.1631</td>
      <td>-0.004283</td>
      <td>0.503871</td>
      <td>-0.1631</td>
      <td>0.1631</td>
    </tr>
    <tr>
      <td>2016-07-29</td>
      <td>2173.6001</td>
      <td>-0.1270</td>
      <td>0.037541</td>
      <td>0.512582</td>
      <td>-0.1270</td>
      <td>-0.1270</td>
    </tr>
    <tr>
      <td>2016-08-01</td>
      <td>2170.8401</td>
      <td>-0.6362</td>
      <td>0.039733</td>
      <td>0.502336</td>
      <td>-0.6362</td>
      <td>-0.6362</td>
    </tr>
    <tr>
      <td>2016-08-02</td>
      <td>2157.0300</td>
      <td>0.3134</td>
      <td>0.122793</td>
      <td>0.525397</td>
      <td>0.3134</td>
      <td>0.3134</td>
    </tr>
    <tr>
      <td>2016-08-03</td>
      <td>2163.7900</td>
      <td>0.0213</td>
      <td>0.046396</td>
      <td>0.513767</td>
      <td>0.0213</td>
      <td>0.0213</td>
    </tr>
    <tr>
      <td>2016-08-04</td>
      <td>2164.2500</td>
      <td>0.8603</td>
      <td>0.022494</td>
      <td>0.508269</td>
      <td>0.8603</td>
      <td>0.8603</td>
    </tr>
    <tr>
      <td>2016-08-05</td>
      <td>2182.8701</td>
      <td>-0.0907</td>
      <td>-0.016031</td>
      <td>0.498978</td>
      <td>0.0907</td>
      <td>0.0907</td>
    </tr>
    <tr>
      <td>2016-08-08</td>
      <td>2180.8899</td>
      <td>0.0390</td>
      <td>0.046539</td>
      <td>0.499157</td>
      <td>0.0390</td>
      <td>-0.0390</td>
    </tr>
    <tr>
      <td>2016-08-09</td>
      <td>2181.7400</td>
      <td>-0.2865</td>
      <td>0.046938</td>
      <td>0.512129</td>
      <td>-0.2865</td>
      <td>-0.2865</td>
    </tr>
    <tr>
      <td>2016-08-10</td>
      <td>2175.4900</td>
      <td>0.4735</td>
      <td>0.064153</td>
      <td>0.519294</td>
      <td>0.4735</td>
      <td>0.4735</td>
    </tr>
    <tr>
      <td>2016-08-11</td>
      <td>2185.7900</td>
      <td>-0.0796</td>
      <td>-0.032181</td>
      <td>0.498517</td>
      <td>0.0796</td>
      <td>0.0796</td>
    </tr>
    <tr>
      <td>2016-08-12</td>
      <td>2184.0500</td>
      <td>0.2793</td>
      <td>0.014695</td>
      <td>0.501476</td>
      <td>0.2793</td>
      <td>0.2793</td>
    </tr>
    <tr>
      <td>2016-08-15</td>
      <td>2190.1499</td>
      <td>-0.5479</td>
      <td>0.020058</td>
      <td>0.490384</td>
      <td>-0.5479</td>
      <td>0.5479</td>
    </tr>
    <tr>
      <td>2016-08-16</td>
      <td>2178.1499</td>
      <td>0.1869</td>
      <td>0.090054</td>
      <td>0.512533</td>
      <td>0.1869</td>
      <td>0.1869</td>
    </tr>
    <tr>
      <td>2016-08-17</td>
      <td>2182.2200</td>
      <td>0.2200</td>
      <td>0.032802</td>
      <td>0.511294</td>
      <td>0.2200</td>
      <td>0.2200</td>
    </tr>
    <tr>
      <td>2016-08-18</td>
      <td>2187.0200</td>
      <td>-0.1440</td>
      <td>0.024966</td>
      <td>0.507395</td>
      <td>-0.1440</td>
      <td>-0.1440</td>
    </tr>
    <tr>
      <td>2016-08-19</td>
      <td>2183.8701</td>
      <td>-0.0563</td>
      <td>-0.002913</td>
      <td>0.504360</td>
      <td>0.0563</td>
      <td>-0.0563</td>
    </tr>
    <tr>
      <td>2016-08-22</td>
      <td>2182.6399</td>
      <td>0.1952</td>
      <td>0.110247</td>
      <td>0.513379</td>
      <td>0.1952</td>
      <td>0.1952</td>
    </tr>
    <tr>
      <td>2016-08-23</td>
      <td>2186.8999</td>
      <td>-0.5240</td>
      <td>0.022618</td>
      <td>0.503592</td>
      <td>-0.5240</td>
      <td>-0.5240</td>
    </tr>
    <tr>
      <td>2016-08-24</td>
      <td>2175.4399</td>
      <td>-0.1365</td>
      <td>0.080155</td>
      <td>0.521491</td>
      <td>-0.1365</td>
      <td>-0.1365</td>
    </tr>
    <tr>
      <td>2016-08-25</td>
      <td>2172.4700</td>
      <td>-0.1579</td>
      <td>0.065641</td>
      <td>0.518913</td>
      <td>-0.1579</td>
      <td>-0.1579</td>
    </tr>
    <tr>
      <td>2016-08-26</td>
      <td>2169.0400</td>
      <td>0.5228</td>
      <td>0.048170</td>
      <td>0.515878</td>
      <td>0.5228</td>
      <td>0.5228</td>
    </tr>
    <tr>
      <td>2016-08-29</td>
      <td>2180.3799</td>
      <td>-0.1954</td>
      <td>0.050132</td>
      <td>0.505176</td>
      <td>-0.1954</td>
      <td>-0.1954</td>
    </tr>
    <tr>
      <td>2016-08-30</td>
      <td>2176.1201</td>
      <td>-0.2376</td>
      <td>0.064287</td>
      <td>0.509362</td>
      <td>-0.2376</td>
      <td>-0.2376</td>
    </tr>
    <tr>
      <td>2016-08-31</td>
      <td>2170.9500</td>
      <td>-0.0041</td>
      <td>0.075969</td>
      <td>0.519310</td>
      <td>-0.0041</td>
      <td>-0.0041</td>
    </tr>
    <tr>
      <td>2016-09-01</td>
      <td>2170.8601</td>
      <td>0.4201</td>
      <td>0.077629</td>
      <td>0.524195</td>
      <td>0.4201</td>
      <td>0.4201</td>
    </tr>
    <tr>
      <td>2016-09-02</td>
      <td>2179.9800</td>
      <td>0.2982</td>
      <td>-0.016531</td>
      <td>0.507624</td>
      <td>-0.2982</td>
      <td>0.2982</td>
    </tr>
    <tr>
      <td>2016-09-06</td>
      <td>2186.4800</td>
      <td>-0.0146</td>
      <td>0.039596</td>
      <td>0.501486</td>
      <td>-0.0146</td>
      <td>-0.0146</td>
    </tr>
    <tr>
      <td>2016-09-07</td>
      <td>2186.1599</td>
      <td>-0.2223</td>
      <td>0.025548</td>
      <td>0.500750</td>
      <td>-0.2223</td>
      <td>-0.2223</td>
    </tr>
    <tr>
      <td>2016-09-08</td>
      <td>2181.3000</td>
      <td>-2.4522</td>
      <td>0.061331</td>
      <td>0.516560</td>
      <td>-2.4522</td>
      <td>-2.4522</td>
    </tr>
    <tr>
      <td>2016-09-09</td>
      <td>2127.8101</td>
      <td>1.4677</td>
      <td>0.161136</td>
      <td>0.551289</td>
      <td>1.4677</td>
      <td>1.4677</td>
    </tr>
    <tr>
      <td>2016-09-12</td>
      <td>2159.0400</td>
      <td>-1.4831</td>
      <td>0.112319</td>
      <td>0.519337</td>
      <td>-1.4831</td>
      <td>-1.4831</td>
    </tr>
    <tr>
      <td>2016-09-13</td>
      <td>2127.0200</td>
      <td>-0.0588</td>
      <td>0.063985</td>
      <td>0.505627</td>
      <td>-0.0588</td>
      <td>-0.0588</td>
    </tr>
    <tr>
      <td>2016-09-14</td>
      <td>2125.7700</td>
      <td>1.0109</td>
      <td>0.178825</td>
      <td>0.536307</td>
      <td>1.0109</td>
      <td>1.0109</td>
    </tr>
    <tr>
      <td>2016-09-15</td>
      <td>2147.2600</td>
      <td>-0.3772</td>
      <td>0.096226</td>
      <td>0.515616</td>
      <td>-0.3772</td>
      <td>-0.3772</td>
    </tr>
    <tr>
      <td>2016-09-16</td>
      <td>2139.1599</td>
      <td>-0.0019</td>
      <td>-0.033106</td>
      <td>0.518986</td>
      <td>0.0019</td>
      <td>-0.0019</td>
    </tr>
    <tr>
      <td>2016-09-19</td>
      <td>2139.1201</td>
      <td>0.0299</td>
      <td>0.244265</td>
      <td>0.557756</td>
      <td>0.0299</td>
      <td>0.0299</td>
    </tr>
    <tr>
      <td>2016-09-20</td>
      <td>2139.7600</td>
      <td>1.0917</td>
      <td>-0.020350</td>
      <td>0.501443</td>
      <td>-1.0917</td>
      <td>1.0917</td>
    </tr>
    <tr>
      <td>2016-09-21</td>
      <td>2163.1201</td>
      <td>0.6500</td>
      <td>0.040912</td>
      <td>0.514011</td>
      <td>0.6500</td>
      <td>0.6500</td>
    </tr>
    <tr>
      <td>2016-09-22</td>
      <td>2177.1799</td>
      <td>-0.5737</td>
      <td>-0.077000</td>
      <td>0.482952</td>
      <td>0.5737</td>
      <td>0.5737</td>
    </tr>
    <tr>
      <td>2016-09-23</td>
      <td>2164.6899</td>
      <td>-0.8588</td>
      <td>0.003039</td>
      <td>0.499109</td>
      <td>-0.8588</td>
      <td>0.8588</td>
    </tr>
    <tr>
      <td>2016-09-26</td>
      <td>2146.1001</td>
      <td>0.6444</td>
      <td>0.153251</td>
      <td>0.527093</td>
      <td>0.6444</td>
      <td>0.6444</td>
    </tr>
    <tr>
      <td>2016-09-27</td>
      <td>2159.9299</td>
      <td>0.5297</td>
      <td>-0.006760</td>
      <td>0.499591</td>
      <td>-0.5297</td>
      <td>-0.5297</td>
    </tr>
    <tr>
      <td>2016-09-28</td>
      <td>2171.3701</td>
      <td>-0.9321</td>
      <td>-0.040024</td>
      <td>0.482606</td>
      <td>0.9321</td>
      <td>0.9321</td>
    </tr>
    <tr>
      <td>2016-09-29</td>
      <td>2151.1299</td>
      <td>0.7968</td>
      <td>0.060522</td>
      <td>0.500909</td>
      <td>0.7968</td>
      <td>0.7968</td>
    </tr>
    <tr>
      <td>2016-09-30</td>
      <td>2168.2700</td>
      <td>-0.3261</td>
      <td>0.059091</td>
      <td>0.508191</td>
      <td>-0.3261</td>
      <td>-0.3261</td>
    </tr>
    <tr>
      <td>2016-10-03</td>
      <td>2161.2000</td>
      <td>-0.4956</td>
      <td>0.029251</td>
      <td>0.506149</td>
      <td>-0.4956</td>
      <td>-0.4956</td>
    </tr>
    <tr>
      <td>2016-10-04</td>
      <td>2150.4900</td>
      <td>0.4297</td>
      <td>0.109177</td>
      <td>0.528872</td>
      <td>0.4297</td>
      <td>0.4297</td>
    </tr>
    <tr>
      <td>2016-10-05</td>
      <td>2159.7300</td>
      <td>0.0482</td>
      <td>0.064490</td>
      <td>0.505695</td>
      <td>0.0482</td>
      <td>0.0482</td>
    </tr>
    <tr>
      <td>2016-10-06</td>
      <td>2160.7700</td>
      <td>-0.3253</td>
      <td>-0.013063</td>
      <td>0.497216</td>
      <td>0.3253</td>
      <td>0.3253</td>
    </tr>
    <tr>
      <td>2016-10-07</td>
      <td>2153.7400</td>
      <td>0.4606</td>
      <td>0.099951</td>
      <td>0.526767</td>
      <td>0.4606</td>
      <td>0.4606</td>
    </tr>
    <tr>
      <td>2016-10-10</td>
      <td>2163.6599</td>
      <td>-1.2446</td>
      <td>0.039468</td>
      <td>0.498830</td>
      <td>-1.2446</td>
      <td>1.2446</td>
    </tr>
    <tr>
      <td>2016-10-11</td>
      <td>2136.7300</td>
      <td>0.1147</td>
      <td>0.121868</td>
      <td>0.526455</td>
      <td>0.1147</td>
      <td>0.1147</td>
    </tr>
    <tr>
      <td>2016-10-12</td>
      <td>2139.1799</td>
      <td>-0.3099</td>
      <td>0.122634</td>
      <td>0.531256</td>
      <td>-0.3099</td>
      <td>-0.3099</td>
    </tr>
    <tr>
      <td>2016-10-13</td>
      <td>2132.5500</td>
      <td>0.0202</td>
      <td>0.053134</td>
      <td>0.511706</td>
      <td>0.0202</td>
      <td>0.0202</td>
    </tr>
    <tr>
      <td>2016-10-14</td>
      <td>2132.9800</td>
      <td>-0.3038</td>
      <td>0.058330</td>
      <td>0.518660</td>
      <td>-0.3038</td>
      <td>-0.3038</td>
    </tr>
    <tr>
      <td>2016-10-17</td>
      <td>2126.5000</td>
      <td>0.6160</td>
      <td>0.157115</td>
      <td>0.523726</td>
      <td>0.6160</td>
      <td>0.6160</td>
    </tr>
    <tr>
      <td>2016-10-18</td>
      <td>2139.6001</td>
      <td>0.2192</td>
      <td>0.031306</td>
      <td>0.507126</td>
      <td>0.2192</td>
      <td>0.2192</td>
    </tr>
    <tr>
      <td>2016-10-19</td>
      <td>2144.2900</td>
      <td>-0.1376</td>
      <td>0.076788</td>
      <td>0.520707</td>
      <td>-0.1376</td>
      <td>-0.1376</td>
    </tr>
    <tr>
      <td>2016-10-20</td>
      <td>2141.3401</td>
      <td>-0.0084</td>
      <td>0.019610</td>
      <td>0.513236</td>
      <td>-0.0084</td>
      <td>-0.0084</td>
    </tr>
    <tr>
      <td>2016-10-21</td>
      <td>2141.1599</td>
      <td>0.4750</td>
      <td>0.073954</td>
      <td>0.522179</td>
      <td>0.4750</td>
      <td>0.4750</td>
    </tr>
    <tr>
      <td>2016-10-24</td>
      <td>2151.3301</td>
      <td>-0.3798</td>
      <td>0.007992</td>
      <td>0.497345</td>
      <td>-0.3798</td>
      <td>0.3798</td>
    </tr>
    <tr>
      <td>2016-10-25</td>
      <td>2143.1599</td>
      <td>-0.1740</td>
      <td>0.059615</td>
      <td>0.507080</td>
      <td>-0.1740</td>
      <td>-0.1740</td>
    </tr>
    <tr>
      <td>2016-10-26</td>
      <td>2139.4299</td>
      <td>-0.2987</td>
      <td>0.062533</td>
      <td>0.507252</td>
      <td>-0.2987</td>
      <td>-0.2987</td>
    </tr>
    <tr>
      <td>2016-10-27</td>
      <td>2133.0400</td>
      <td>-0.3108</td>
      <td>0.067713</td>
      <td>0.512822</td>
      <td>-0.3108</td>
      <td>-0.3108</td>
    </tr>
    <tr>
      <td>2016-10-28</td>
      <td>2126.4099</td>
      <td>-0.0122</td>
      <td>0.052358</td>
      <td>0.518860</td>
      <td>-0.0122</td>
      <td>-0.0122</td>
    </tr>
    <tr>
      <td>2016-10-31</td>
      <td>2126.1499</td>
      <td>-0.6787</td>
      <td>0.108173</td>
      <td>0.513302</td>
      <td>-0.6787</td>
      <td>-0.6787</td>
    </tr>
    <tr>
      <td>2016-11-01</td>
      <td>2111.7200</td>
      <td>-0.6526</td>
      <td>0.107883</td>
      <td>0.517106</td>
      <td>-0.6526</td>
      <td>-0.6526</td>
    </tr>
    <tr>
      <td>2016-11-02</td>
      <td>2097.9399</td>
      <td>-0.4423</td>
      <td>0.174423</td>
      <td>0.539706</td>
      <td>-0.4423</td>
      <td>-0.4423</td>
    </tr>
    <tr>
      <td>2016-11-03</td>
      <td>2088.6599</td>
      <td>-0.1666</td>
      <td>0.128871</td>
      <td>0.536304</td>
      <td>-0.1666</td>
      <td>-0.1666</td>
    </tr>
    <tr>
      <td>2016-11-04</td>
      <td>2085.1799</td>
      <td>2.2224</td>
      <td>0.104127</td>
      <td>0.533915</td>
      <td>2.2224</td>
      <td>2.2224</td>
    </tr>
    <tr>
      <td>2016-11-07</td>
      <td>2131.5200</td>
      <td>0.3772</td>
      <td>0.017549</td>
      <td>0.493254</td>
      <td>0.3772</td>
      <td>-0.3772</td>
    </tr>
    <tr>
      <td>2016-11-08</td>
      <td>2139.5601</td>
      <td>1.1077</td>
      <td>-0.034237</td>
      <td>0.485403</td>
      <td>-1.1077</td>
      <td>-1.1077</td>
    </tr>
    <tr>
      <td>2016-11-09</td>
      <td>2163.2600</td>
      <td>0.1951</td>
      <td>0.016646</td>
      <td>0.505705</td>
      <td>0.1951</td>
      <td>0.1951</td>
    </tr>
    <tr>
      <td>2016-11-10</td>
      <td>2167.4800</td>
      <td>-0.1398</td>
      <td>-0.039206</td>
      <td>0.499918</td>
      <td>0.1398</td>
      <td>0.1398</td>
    </tr>
    <tr>
      <td>2016-11-11</td>
      <td>2164.4500</td>
      <td>-0.0116</td>
      <td>-0.069796</td>
      <td>0.500789</td>
      <td>0.0116</td>
      <td>-0.0116</td>
    </tr>
    <tr>
      <td>2016-11-14</td>
      <td>2164.2000</td>
      <td>0.7481</td>
      <td>0.040105</td>
      <td>0.490098</td>
      <td>0.7481</td>
      <td>-0.7481</td>
    </tr>
    <tr>
      <td>2016-11-15</td>
      <td>2180.3899</td>
      <td>-0.1582</td>
      <td>-0.113584</td>
      <td>0.448672</td>
      <td>0.1582</td>
      <td>0.1582</td>
    </tr>
    <tr>
      <td>2016-11-16</td>
      <td>2176.9399</td>
      <td>0.4676</td>
      <td>0.016656</td>
      <td>0.477457</td>
      <td>0.4676</td>
      <td>-0.4676</td>
    </tr>
    <tr>
      <td>2016-11-17</td>
      <td>2187.1201</td>
      <td>-0.2387</td>
      <td>-0.031760</td>
      <td>0.478544</td>
      <td>0.2387</td>
      <td>0.2387</td>
    </tr>
    <tr>
      <td>2016-11-18</td>
      <td>2181.8999</td>
      <td>0.7461</td>
      <td>0.012735</td>
      <td>0.498636</td>
      <td>0.7461</td>
      <td>-0.7461</td>
    </tr>
    <tr>
      <td>2016-11-21</td>
      <td>2198.1799</td>
      <td>0.2165</td>
      <td>0.002560</td>
      <td>0.491845</td>
      <td>0.2165</td>
      <td>-0.2165</td>
    </tr>
    <tr>
      <td>2016-11-22</td>
      <td>2202.9399</td>
      <td>0.0808</td>
      <td>0.003739</td>
      <td>0.488171</td>
      <td>0.0808</td>
      <td>-0.0808</td>
    </tr>
    <tr>
      <td>2016-11-23</td>
      <td>2204.7200</td>
      <td>0.3914</td>
      <td>-0.009349</td>
      <td>0.489382</td>
      <td>-0.3914</td>
      <td>-0.3914</td>
    </tr>
    <tr>
      <td>2016-11-25</td>
      <td>2213.3501</td>
      <td>-0.5255</td>
      <td>0.018246</td>
      <td>0.499829</td>
      <td>-0.5255</td>
      <td>0.5255</td>
    </tr>
    <tr>
      <td>2016-11-28</td>
      <td>2201.7200</td>
      <td>0.1335</td>
      <td>0.015432</td>
      <td>0.494153</td>
      <td>0.1335</td>
      <td>-0.1335</td>
    </tr>
    <tr>
      <td>2016-11-29</td>
      <td>2204.6599</td>
      <td>-0.2653</td>
      <td>0.084432</td>
      <td>0.508430</td>
      <td>-0.2653</td>
      <td>-0.2653</td>
    </tr>
    <tr>
      <td>2016-11-30</td>
      <td>2198.8101</td>
      <td>-0.3516</td>
      <td>0.019315</td>
      <td>0.495124</td>
      <td>-0.3516</td>
      <td>0.3516</td>
    </tr>
    <tr>
      <td>2016-12-01</td>
      <td>2191.0801</td>
      <td>0.0397</td>
      <td>0.075454</td>
      <td>0.511598</td>
      <td>0.0397</td>
      <td>0.0397</td>
    </tr>
    <tr>
      <td>2016-12-02</td>
      <td>2191.9500</td>
      <td>0.5821</td>
      <td>0.072275</td>
      <td>0.513366</td>
      <td>0.5821</td>
      <td>0.5821</td>
    </tr>
    <tr>
      <td>2016-12-05</td>
      <td>2204.7100</td>
      <td>0.3411</td>
      <td>0.029592</td>
      <td>0.494601</td>
      <td>0.3411</td>
      <td>-0.3411</td>
    </tr>
    <tr>
      <td>2016-12-06</td>
      <td>2212.2300</td>
      <td>1.3163</td>
      <td>0.056988</td>
      <td>0.504444</td>
      <td>1.3163</td>
      <td>1.3163</td>
    </tr>
    <tr>
      <td>2016-12-07</td>
      <td>2241.3501</td>
      <td>0.2159</td>
      <td>-0.034781</td>
      <td>0.486843</td>
      <td>-0.2159</td>
      <td>-0.2159</td>
    </tr>
    <tr>
      <td>2016-12-08</td>
      <td>2246.1899</td>
      <td>0.5939</td>
      <td>-0.031861</td>
      <td>0.492350</td>
      <td>-0.5939</td>
      <td>-0.5939</td>
    </tr>
    <tr>
      <td>2016-12-09</td>
      <td>2259.5300</td>
      <td>-0.1137</td>
      <td>-0.040377</td>
      <td>0.496534</td>
      <td>0.1137</td>
      <td>0.1137</td>
    </tr>
    <tr>
      <td>2016-12-12</td>
      <td>2256.9600</td>
      <td>0.6540</td>
      <td>0.004680</td>
      <td>0.487602</td>
      <td>0.6540</td>
      <td>-0.6540</td>
    </tr>
    <tr>
      <td>2016-12-13</td>
      <td>2271.7200</td>
      <td>-0.8117</td>
      <td>-0.053997</td>
      <td>0.474637</td>
      <td>0.8117</td>
      <td>0.8117</td>
    </tr>
    <tr>
      <td>2016-12-14</td>
      <td>2253.2800</td>
      <td>0.3883</td>
      <td>0.032430</td>
      <td>0.489271</td>
      <td>0.3883</td>
      <td>-0.3883</td>
    </tr>
    <tr>
      <td>2016-12-15</td>
      <td>2262.0300</td>
      <td>-0.1751</td>
      <td>-0.009897</td>
      <td>0.484004</td>
      <td>0.1751</td>
      <td>0.1751</td>
    </tr>
    <tr>
      <td>2016-12-16</td>
      <td>2258.0701</td>
      <td>0.1975</td>
      <td>0.023923</td>
      <td>0.494179</td>
      <td>0.1975</td>
      <td>-0.1975</td>
    </tr>
    <tr>
      <td>2016-12-19</td>
      <td>2262.5300</td>
      <td>0.3638</td>
      <td>0.021238</td>
      <td>0.489919</td>
      <td>0.3638</td>
      <td>-0.3638</td>
    </tr>
    <tr>
      <td>2016-12-20</td>
      <td>2270.7600</td>
      <td>-0.2457</td>
      <td>0.075803</td>
      <td>0.499763</td>
      <td>-0.2457</td>
      <td>0.2457</td>
    </tr>
    <tr>
      <td>2016-12-21</td>
      <td>2265.1799</td>
      <td>-0.1863</td>
      <td>0.007955</td>
      <td>0.498248</td>
      <td>-0.1863</td>
      <td>0.1863</td>
    </tr>
    <tr>
      <td>2016-12-22</td>
      <td>2260.9600</td>
      <td>0.1252</td>
      <td>0.114092</td>
      <td>0.525927</td>
      <td>0.1252</td>
      <td>0.1252</td>
    </tr>
    <tr>
      <td>2016-12-23</td>
      <td>2263.7900</td>
      <td>0.2248</td>
      <td>0.000103</td>
      <td>0.505181</td>
      <td>0.2248</td>
      <td>0.2248</td>
    </tr>
    <tr>
      <td>2016-12-27</td>
      <td>2268.8799</td>
      <td>-0.8357</td>
      <td>0.054335</td>
      <td>0.503129</td>
      <td>-0.8357</td>
      <td>-0.8357</td>
    </tr>
    <tr>
      <td>2016-12-28</td>
      <td>2249.9199</td>
      <td>-0.0293</td>
      <td>0.093986</td>
      <td>0.514284</td>
      <td>-0.0293</td>
      <td>-0.0293</td>
    </tr>
    <tr>
      <td>2016-12-29</td>
      <td>2249.2600</td>
      <td>-0.4637</td>
      <td>0.098655</td>
      <td>0.519434</td>
      <td>-0.4637</td>
      <td>-0.4637</td>
    </tr>
    <tr>
      <td>2016-12-30</td>
      <td>2238.8301</td>
      <td>0.8487</td>
      <td>0.074698</td>
      <td>0.522041</td>
      <td>0.8487</td>
      <td>0.8487</td>
    </tr>
  </tbody>
</table>