<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>cdate</th>
      <th>cp</th>
      <th>pctlead</th>
      <th>pred_linr</th>
      <th>pred_logr</th>
      <th>eff_linr</th>
      <th>eff_logr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2000-01-03</td>
      <td>1455.2200</td>
      <td>-3.8345</td>
      <td>0.049490</td>
      <td>0.487313</td>
      <td>-3.8345</td>
      <td>3.8345</td>
    </tr>
    <tr>
      <td>2000-01-04</td>
      <td>1399.4200</td>
      <td>0.1922</td>
      <td>0.006227</td>
      <td>0.482269</td>
      <td>0.1922</td>
      <td>-0.1922</td>
    </tr>
    <tr>
      <td>2000-01-05</td>
      <td>1402.1100</td>
      <td>0.0956</td>
      <td>0.062316</td>
      <td>0.508510</td>
      <td>0.0956</td>
      <td>0.0956</td>
    </tr>
    <tr>
      <td>2000-01-06</td>
      <td>1403.4500</td>
      <td>2.7090</td>
      <td>0.204863</td>
      <td>0.553908</td>
      <td>2.7090</td>
      <td>2.7090</td>
    </tr>
    <tr>
      <td>2000-01-07</td>
      <td>1441.4700</td>
      <td>1.1190</td>
      <td>0.161057</td>
      <td>0.507516</td>
      <td>1.1190</td>
      <td>1.1190</td>
    </tr>
    <tr>
      <td>2000-01-10</td>
      <td>1457.6000</td>
      <td>-1.3063</td>
      <td>0.049740</td>
      <td>0.533279</td>
      <td>-1.3063</td>
      <td>-1.3063</td>
    </tr>
    <tr>
      <td>2000-01-11</td>
      <td>1438.5601</td>
      <td>-0.4386</td>
      <td>0.028639</td>
      <td>0.520561</td>
      <td>-0.4386</td>
      <td>-0.4386</td>
    </tr>
    <tr>
      <td>2000-01-12</td>
      <td>1432.2500</td>
      <td>1.2170</td>
      <td>0.041306</td>
      <td>0.523802</td>
      <td>1.2170</td>
      <td>1.2170</td>
    </tr>
    <tr>
      <td>2000-01-13</td>
      <td>1449.6801</td>
      <td>1.0671</td>
      <td>0.185402</td>
      <td>0.528467</td>
      <td>1.0671</td>
      <td>1.0671</td>
    </tr>
    <tr>
      <td>2000-01-14</td>
      <td>1465.1500</td>
      <td>-0.6832</td>
      <td>0.116535</td>
      <td>0.473143</td>
      <td>-0.6832</td>
      <td>0.6832</td>
    </tr>
    <tr>
      <td>2000-01-18</td>
      <td>1455.1400</td>
      <td>0.0522</td>
      <td>-0.006925</td>
      <td>0.456475</td>
      <td>-0.0522</td>
      <td>-0.0522</td>
    </tr>
    <tr>
      <td>2000-01-19</td>
      <td>1455.9000</td>
      <td>-0.7095</td>
      <td>-0.067307</td>
      <td>0.481437</td>
      <td>0.7095</td>
      <td>0.7095</td>
    </tr>
    <tr>
      <td>2000-01-20</td>
      <td>1445.5699</td>
      <td>-0.2912</td>
      <td>0.082768</td>
      <td>0.520606</td>
      <td>-0.2912</td>
      <td>-0.2912</td>
    </tr>
    <tr>
      <td>2000-01-21</td>
      <td>1441.3600</td>
      <td>-2.7634</td>
      <td>0.114859</td>
      <td>0.497366</td>
      <td>-2.7634</td>
      <td>2.7634</td>
    </tr>
    <tr>
      <td>2000-01-24</td>
      <td>1401.5300</td>
      <td>0.6065</td>
      <td>0.049954</td>
      <td>0.489159</td>
      <td>0.6065</td>
      <td>-0.6065</td>
    </tr>
    <tr>
      <td>2000-01-25</td>
      <td>1410.0300</td>
      <td>-0.4213</td>
      <td>0.050912</td>
      <td>0.496117</td>
      <td>-0.4213</td>
      <td>0.4213</td>
    </tr>
    <tr>
      <td>2000-01-26</td>
      <td>1404.0900</td>
      <td>-0.3938</td>
      <td>0.149651</td>
      <td>0.547709</td>
      <td>-0.3938</td>
      <td>-0.3938</td>
    </tr>
    <tr>
      <td>2000-01-27</td>
      <td>1398.5601</td>
      <td>-2.7457</td>
      <td>0.133028</td>
      <td>0.512405</td>
      <td>-2.7457</td>
      <td>-2.7457</td>
    </tr>
    <tr>
      <td>2000-01-28</td>
      <td>1360.1600</td>
      <td>2.5218</td>
      <td>-0.020820</td>
      <td>0.530660</td>
      <td>-2.5218</td>
      <td>2.5218</td>
    </tr>
    <tr>
      <td>2000-01-31</td>
      <td>1394.4600</td>
      <td>1.0628</td>
      <td>0.150263</td>
      <td>0.546141</td>
      <td>1.0628</td>
      <td>1.0628</td>
    </tr>
    <tr>
      <td>2000-02-01</td>
      <td>1409.2800</td>
      <td>-0.0114</td>
      <td>0.247368</td>
      <td>0.566587</td>
      <td>-0.0114</td>
      <td>-0.0114</td>
    </tr>
    <tr>
      <td>2000-02-02</td>
      <td>1409.1200</td>
      <td>1.1248</td>
      <td>0.123100</td>
      <td>0.490781</td>
      <td>1.1248</td>
      <td>-1.1248</td>
    </tr>
    <tr>
      <td>2000-02-03</td>
      <td>1424.9700</td>
      <td>-0.0421</td>
      <td>-0.087846</td>
      <td>0.506378</td>
      <td>0.0421</td>
      <td>-0.0421</td>
    </tr>
    <tr>
      <td>2000-02-04</td>
      <td>1424.3700</td>
      <td>-0.0091</td>
      <td>0.096435</td>
      <td>0.533425</td>
      <td>-0.0091</td>
      <td>-0.0091</td>
    </tr>
    <tr>
      <td>2000-02-07</td>
      <td>1424.2400</td>
      <td>1.2273</td>
      <td>0.124853</td>
      <td>0.478784</td>
      <td>1.2273</td>
      <td>-1.2273</td>
    </tr>
    <tr>
      <td>2000-02-08</td>
      <td>1441.7200</td>
      <td>-2.0815</td>
      <td>0.063339</td>
      <td>0.483947</td>
      <td>-2.0815</td>
      <td>2.0815</td>
    </tr>
    <tr>
      <td>2000-02-09</td>
      <td>1411.7100</td>
      <td>0.3627</td>
      <td>0.009208</td>
      <td>0.472205</td>
      <td>0.3627</td>
      <td>-0.3627</td>
    </tr>
    <tr>
      <td>2000-02-10</td>
      <td>1416.8300</td>
      <td>-2.0969</td>
      <td>-0.002632</td>
      <td>0.468724</td>
      <td>2.0969</td>
      <td>2.0969</td>
    </tr>
    <tr>
      <td>2000-02-11</td>
      <td>1387.1200</td>
      <td>0.2033</td>
      <td>0.043787</td>
      <td>0.523187</td>
      <td>0.2033</td>
      <td>0.2033</td>
    </tr>
    <tr>
      <td>2000-02-14</td>
      <td>1389.9399</td>
      <td>0.8713</td>
      <td>0.124164</td>
      <td>0.483902</td>
      <td>0.8713</td>
      <td>-0.8713</td>
    </tr>
    <tr>
      <td>2000-02-15</td>
      <td>1402.0500</td>
      <td>-1.0256</td>
      <td>0.107054</td>
      <td>0.529910</td>
      <td>-1.0256</td>
      <td>-1.0256</td>
    </tr>
    <tr>
      <td>2000-02-16</td>
      <td>1387.6700</td>
      <td>0.0425</td>
      <td>0.113112</td>
      <td>0.514925</td>
      <td>0.0425</td>
      <td>0.0425</td>
    </tr>
    <tr>
      <td>2000-02-17</td>
      <td>1388.2600</td>
      <td>-3.0376</td>
      <td>-0.000530</td>
      <td>0.510268</td>
      <td>3.0376</td>
      <td>-3.0376</td>
    </tr>
    <tr>
      <td>2000-02-18</td>
      <td>1346.0900</td>
      <td>0.4517</td>
      <td>0.072281</td>
      <td>0.549976</td>
      <td>0.4517</td>
      <td>0.4517</td>
    </tr>
    <tr>
      <td>2000-02-22</td>
      <td>1352.1700</td>
      <td>0.6301</td>
      <td>0.120724</td>
      <td>0.508420</td>
      <td>0.6301</td>
      <td>0.6301</td>
    </tr>
    <tr>
      <td>2000-02-23</td>
      <td>1360.6899</td>
      <td>-0.5335</td>
      <td>0.185209</td>
      <td>0.552608</td>
      <td>-0.5335</td>
      <td>-0.5335</td>
    </tr>
    <tr>
      <td>2000-02-24</td>
      <td>1353.4301</td>
      <td>-1.4829</td>
      <td>0.112556</td>
      <td>0.502191</td>
      <td>-1.4829</td>
      <td>-1.4829</td>
    </tr>
    <tr>
      <td>2000-02-25</td>
      <td>1333.3600</td>
      <td>1.1017</td>
      <td>-0.049042</td>
      <td>0.513723</td>
      <td>-1.1017</td>
      <td>1.1017</td>
    </tr>
    <tr>
      <td>2000-02-28</td>
      <td>1348.0500</td>
      <td>1.3627</td>
      <td>0.120858</td>
      <td>0.550010</td>
      <td>1.3627</td>
      <td>1.3627</td>
    </tr>
    <tr>
      <td>2000-02-29</td>
      <td>1366.4200</td>
      <td>0.9346</td>
      <td>0.221115</td>
      <td>0.545340</td>
      <td>0.9346</td>
      <td>0.9346</td>
    </tr>
    <tr>
      <td>2000-03-01</td>
      <td>1379.1899</td>
      <td>0.1863</td>
      <td>0.137798</td>
      <td>0.500479</td>
      <td>0.1863</td>
      <td>0.1863</td>
    </tr>
    <tr>
      <td>2000-03-02</td>
      <td>1381.7600</td>
      <td>1.9837</td>
      <td>-0.056281</td>
      <td>0.489174</td>
      <td>-1.9837</td>
      <td>-1.9837</td>
    </tr>
    <tr>
      <td>2000-03-03</td>
      <td>1409.1700</td>
      <td>-1.2695</td>
      <td>0.025147</td>
      <td>0.507594</td>
      <td>-1.2695</td>
      <td>-1.2695</td>
    </tr>
    <tr>
      <td>2000-03-06</td>
      <td>1391.2800</td>
      <td>-2.5631</td>
      <td>0.120175</td>
      <td>0.495986</td>
      <td>-2.5631</td>
      <td>2.5631</td>
    </tr>
    <tr>
      <td>2000-03-07</td>
      <td>1355.6200</td>
      <td>0.8173</td>
      <td>-0.003734</td>
      <td>0.447334</td>
      <td>-0.8173</td>
      <td>-0.8173</td>
    </tr>
    <tr>
      <td>2000-03-08</td>
      <td>1366.7000</td>
      <td>2.5602</td>
      <td>-0.018181</td>
      <td>0.485817</td>
      <td>-2.5602</td>
      <td>-2.5602</td>
    </tr>
    <tr>
      <td>2000-03-09</td>
      <td>1401.6899</td>
      <td>-0.4723</td>
      <td>0.195600</td>
      <td>0.517229</td>
      <td>-0.4723</td>
      <td>-0.4723</td>
    </tr>
    <tr>
      <td>2000-03-10</td>
      <td>1395.0699</td>
      <td>-0.8207</td>
      <td>0.075557</td>
      <td>0.474977</td>
      <td>-0.8207</td>
      <td>0.8207</td>
    </tr>
    <tr>
      <td>2000-03-13</td>
      <td>1383.6200</td>
      <td>-1.7685</td>
      <td>-0.094982</td>
      <td>0.474682</td>
      <td>1.7685</td>
      <td>1.7685</td>
    </tr>
    <tr>
      <td>2000-03-14</td>
      <td>1359.1500</td>
      <td>2.4273</td>
      <td>0.000866</td>
      <td>0.531927</td>
      <td>2.4273</td>
      <td>2.4273</td>
    </tr>
    <tr>
      <td>2000-03-15</td>
      <td>1392.1400</td>
      <td>4.7646</td>
      <td>0.229374</td>
      <td>0.526061</td>
      <td>4.7646</td>
      <td>4.7646</td>
    </tr>
    <tr>
      <td>2000-03-16</td>
      <td>1458.4700</td>
      <td>0.4114</td>
      <td>0.205044</td>
      <td>0.513327</td>
      <td>0.4114</td>
      <td>0.4114</td>
    </tr>
    <tr>
      <td>2000-03-17</td>
      <td>1464.4700</td>
      <td>-0.5353</td>
      <td>-0.008740</td>
      <td>0.459603</td>
      <td>0.5353</td>
      <td>0.5353</td>
    </tr>
    <tr>
      <td>2000-03-20</td>
      <td>1456.6300</td>
      <td>2.5566</td>
      <td>-0.169043</td>
      <td>0.445866</td>
      <td>-2.5566</td>
      <td>-2.5566</td>
    </tr>
    <tr>
      <td>2000-03-21</td>
      <td>1493.8700</td>
      <td>0.4532</td>
      <td>0.030914</td>
      <td>0.514925</td>
      <td>0.4532</td>
      <td>0.4532</td>
    </tr>
    <tr>
      <td>2000-03-22</td>
      <td>1500.6400</td>
      <td>1.7799</td>
      <td>0.209102</td>
      <td>0.481270</td>
      <td>1.7799</td>
      <td>-1.7799</td>
    </tr>
    <tr>
      <td>2000-03-23</td>
      <td>1527.3500</td>
      <td>0.0072</td>
      <td>0.002691</td>
      <td>0.404713</td>
      <td>0.0072</td>
      <td>-0.0072</td>
    </tr>
    <tr>
      <td>2000-03-24</td>
      <td>1527.4600</td>
      <td>-0.2357</td>
      <td>-0.156610</td>
      <td>0.441440</td>
      <td>0.2357</td>
      <td>0.2357</td>
    </tr>
    <tr>
      <td>2000-03-27</td>
      <td>1523.8600</td>
      <td>-1.0585</td>
      <td>-0.013754</td>
      <td>0.443729</td>
      <td>1.0585</td>
      <td>1.0585</td>
    </tr>
    <tr>
      <td>2000-03-28</td>
      <td>1507.7300</td>
      <td>0.0524</td>
      <td>0.036410</td>
      <td>0.473354</td>
      <td>0.0524</td>
      <td>-0.0524</td>
    </tr>
    <tr>
      <td>2000-03-29</td>
      <td>1508.5200</td>
      <td>-1.3656</td>
      <td>0.059940</td>
      <td>0.471626</td>
      <td>-1.3656</td>
      <td>1.3656</td>
    </tr>
    <tr>
      <td>2000-03-30</td>
      <td>1487.9200</td>
      <td>0.7164</td>
      <td>0.023272</td>
      <td>0.477698</td>
      <td>0.7164</td>
      <td>-0.7164</td>
    </tr>
    <tr>
      <td>2000-03-31</td>
      <td>1498.5800</td>
      <td>0.4931</td>
      <td>0.036724</td>
      <td>0.488650</td>
      <td>0.4931</td>
      <td>-0.4931</td>
    </tr>
    <tr>
      <td>2000-04-03</td>
      <td>1505.9700</td>
      <td>-0.7464</td>
      <td>0.084244</td>
      <td>0.519577</td>
      <td>-0.7464</td>
      <td>-0.7464</td>
    </tr>
    <tr>
      <td>2000-04-04</td>
      <td>1494.7300</td>
      <td>-0.4924</td>
      <td>0.105135</td>
      <td>0.508937</td>
      <td>-0.4924</td>
      <td>-0.4924</td>
    </tr>
    <tr>
      <td>2000-04-05</td>
      <td>1487.3700</td>
      <td>0.9392</td>
      <td>0.018015</td>
      <td>0.511217</td>
      <td>0.9392</td>
      <td>0.9392</td>
    </tr>
    <tr>
      <td>2000-04-06</td>
      <td>1501.3400</td>
      <td>0.9998</td>
      <td>0.098589</td>
      <td>0.532496</td>
      <td>0.9998</td>
      <td>0.9998</td>
    </tr>
    <tr>
      <td>2000-04-07</td>
      <td>1516.3500</td>
      <td>-0.7841</td>
      <td>0.123224</td>
      <td>0.514353</td>
      <td>-0.7841</td>
      <td>-0.7841</td>
    </tr>
    <tr>
      <td>2000-04-10</td>
      <td>1504.4600</td>
      <td>-0.2572</td>
      <td>0.072017</td>
      <td>0.487625</td>
      <td>-0.2572</td>
      <td>0.2572</td>
    </tr>
    <tr>
      <td>2000-04-11</td>
      <td>1500.5900</td>
      <td>-2.2271</td>
      <td>-0.024546</td>
      <td>0.487898</td>
      <td>2.2271</td>
      <td>2.2271</td>
    </tr>
    <tr>
      <td>2000-04-12</td>
      <td>1467.1700</td>
      <td>-1.8171</td>
      <td>0.058114</td>
      <td>0.515757</td>
      <td>-1.8171</td>
      <td>-1.8171</td>
    </tr>
    <tr>
      <td>2000-04-13</td>
      <td>1440.5100</td>
      <td>-5.8278</td>
      <td>0.083764</td>
      <td>0.494843</td>
      <td>-5.8278</td>
      <td>5.8278</td>
    </tr>
    <tr>
      <td>2000-04-14</td>
      <td>1356.5601</td>
      <td>3.3084</td>
      <td>0.010057</td>
      <td>0.509109</td>
      <td>3.3084</td>
      <td>3.3084</td>
    </tr>
    <tr>
      <td>2000-04-17</td>
      <td>1401.4399</td>
      <td>2.8663</td>
      <td>0.134820</td>
      <td>0.518969</td>
      <td>2.8663</td>
      <td>2.8663</td>
    </tr>
    <tr>
      <td>2000-04-18</td>
      <td>1441.6100</td>
      <td>-0.9808</td>
      <td>0.311194</td>
      <td>0.606299</td>
      <td>-0.9808</td>
      <td>-0.9808</td>
    </tr>
    <tr>
      <td>2000-04-19</td>
      <td>1427.4700</td>
      <td>0.4953</td>
      <td>0.155759</td>
      <td>0.510632</td>
      <td>0.4953</td>
      <td>0.4953</td>
    </tr>
    <tr>
      <td>2000-04-20</td>
      <td>1434.5400</td>
      <td>-0.3262</td>
      <td>-0.172531</td>
      <td>0.536383</td>
      <td>0.3262</td>
      <td>-0.3262</td>
    </tr>
    <tr>
      <td>2000-04-24</td>
      <td>1429.8600</td>
      <td>3.3276</td>
      <td>0.175903</td>
      <td>0.596968</td>
      <td>3.3276</td>
      <td>3.3276</td>
    </tr>
    <tr>
      <td>2000-04-25</td>
      <td>1477.4399</td>
      <td>-1.1134</td>
      <td>0.283906</td>
      <td>0.509207</td>
      <td>-1.1134</td>
      <td>-1.1134</td>
    </tr>
    <tr>
      <td>2000-04-26</td>
      <td>1460.9900</td>
      <td>0.2690</td>
      <td>0.098133</td>
      <td>0.482446</td>
      <td>0.2690</td>
      <td>-0.2690</td>
    </tr>
    <tr>
      <td>2000-04-27</td>
      <td>1464.9200</td>
      <td>-0.8526</td>
      <td>-0.156969</td>
      <td>0.420251</td>
      <td>0.8526</td>
      <td>0.8526</td>
    </tr>
    <tr>
      <td>2000-04-28</td>
      <td>1452.4301</td>
      <td>1.0892</td>
      <td>-0.048774</td>
      <td>0.508523</td>
      <td>-1.0892</td>
      <td>1.0892</td>
    </tr>
    <tr>
      <td>2000-05-01</td>
      <td>1468.2500</td>
      <td>-1.4957</td>
      <td>0.182914</td>
      <td>0.488323</td>
      <td>-1.4957</td>
      <td>1.4957</td>
    </tr>
    <tr>
      <td>2000-05-02</td>
      <td>1446.2900</td>
      <td>-2.1566</td>
      <td>0.049373</td>
      <td>0.477773</td>
      <td>-2.1566</td>
      <td>2.1566</td>
    </tr>
    <tr>
      <td>2000-05-03</td>
      <td>1415.1000</td>
      <td>-0.3908</td>
      <td>-0.025263</td>
      <td>0.467094</td>
      <td>0.3908</td>
      <td>0.3908</td>
    </tr>
    <tr>
      <td>2000-05-04</td>
      <td>1409.5699</td>
      <td>1.6360</td>
      <td>-0.019213</td>
      <td>0.512468</td>
      <td>-1.6360</td>
      <td>1.6360</td>
    </tr>
    <tr>
      <td>2000-05-05</td>
      <td>1432.6300</td>
      <td>-0.5905</td>
      <td>0.208600</td>
      <td>0.547979</td>
      <td>-0.5905</td>
      <td>-0.5905</td>
    </tr>
    <tr>
      <td>2000-05-08</td>
      <td>1424.1700</td>
      <td>-0.8447</td>
      <td>0.140499</td>
      <td>0.507829</td>
      <td>-0.8447</td>
      <td>-0.8447</td>
    </tr>
    <tr>
      <td>2000-05-09</td>
      <td>1412.1400</td>
      <td>-2.0600</td>
      <td>-0.015026</td>
      <td>0.501608</td>
      <td>2.0600</td>
      <td>-2.0600</td>
    </tr>
    <tr>
      <td>2000-05-10</td>
      <td>1383.0500</td>
      <td>1.7902</td>
      <td>0.004238</td>
      <td>0.540926</td>
      <td>1.7902</td>
      <td>1.7902</td>
    </tr>
    <tr>
      <td>2000-05-11</td>
      <td>1407.8101</td>
      <td>0.9341</td>
      <td>0.190103</td>
      <td>0.541200</td>
      <td>0.9341</td>
      <td>0.9341</td>
    </tr>
    <tr>
      <td>2000-05-12</td>
      <td>1420.9600</td>
      <td>2.2098</td>
      <td>0.175705</td>
      <td>0.533802</td>
      <td>2.2098</td>
      <td>2.2098</td>
    </tr>
    <tr>
      <td>2000-05-15</td>
      <td>1452.3600</td>
      <td>0.9419</td>
      <td>0.073170</td>
      <td>0.478109</td>
      <td>0.9419</td>
      <td>-0.9419</td>
    </tr>
    <tr>
      <td>2000-05-16</td>
      <td>1466.0400</td>
      <td>-1.2442</td>
      <td>-0.029149</td>
      <td>0.506796</td>
      <td>1.2442</td>
      <td>-1.2442</td>
    </tr>
    <tr>
      <td>2000-05-17</td>
      <td>1447.8000</td>
      <td>-0.7315</td>
      <td>0.036762</td>
      <td>0.499320</td>
      <td>-0.7315</td>
      <td>0.7315</td>
    </tr>
    <tr>
      <td>2000-05-18</td>
      <td>1437.2100</td>
      <td>-2.1055</td>
      <td>0.003730</td>
      <td>0.483143</td>
      <td>-2.1055</td>
      <td>2.1055</td>
    </tr>
    <tr>
      <td>2000-05-19</td>
      <td>1406.9500</td>
      <td>-0.4428</td>
      <td>0.059409</td>
      <td>0.489964</td>
      <td>-0.4428</td>
      <td>0.4428</td>
    </tr>
    <tr>
      <td>2000-05-22</td>
      <td>1400.7200</td>
      <td>-1.9176</td>
      <td>0.067891</td>
      <td>0.456818</td>
      <td>-1.9176</td>
      <td>1.9176</td>
    </tr>
    <tr>
      <td>2000-05-23</td>
      <td>1373.8600</td>
      <td>1.8335</td>
      <td>0.056793</td>
      <td>0.498491</td>
      <td>1.8335</td>
      <td>-1.8335</td>
    </tr>
    <tr>
      <td>2000-05-24</td>
      <td>1399.0500</td>
      <td>-1.2530</td>
      <td>0.069908</td>
      <td>0.507940</td>
      <td>-1.2530</td>
      <td>-1.2530</td>
    </tr>
    <tr>
      <td>2000-05-25</td>
      <td>1381.5200</td>
      <td>-0.2533</td>
      <td>0.102146</td>
      <td>0.557978</td>
      <td>-0.2533</td>
      <td>-0.2533</td>
    </tr>
    <tr>
      <td>2000-05-26</td>
      <td>1378.0200</td>
      <td>3.2242</td>
      <td>0.068044</td>
      <td>0.521697</td>
      <td>3.2242</td>
      <td>3.2242</td>
    </tr>
    <tr>
      <td>2000-05-30</td>
      <td>1422.4500</td>
      <td>-0.1301</td>
      <td>0.097741</td>
      <td>0.558224</td>
      <td>-0.1301</td>
      <td>-0.1301</td>
    </tr>
    <tr>
      <td>2000-05-31</td>
      <td>1420.6000</td>
      <td>1.9858</td>
      <td>0.209599</td>
      <td>0.539240</td>
      <td>1.9858</td>
      <td>1.9858</td>
    </tr>
    <tr>
      <td>2000-06-01</td>
      <td>1448.8101</td>
      <td>1.9637</td>
      <td>-0.009570</td>
      <td>0.464493</td>
      <td>-1.9637</td>
      <td>-1.9637</td>
    </tr>
    <tr>
      <td>2000-06-02</td>
      <td>1477.2600</td>
      <td>-0.6519</td>
      <td>-0.011715</td>
      <td>0.515921</td>
      <td>0.6519</td>
      <td>-0.6519</td>
    </tr>
    <tr>
      <td>2000-06-05</td>
      <td>1467.6300</td>
      <td>-0.6671</td>
      <td>0.071084</td>
      <td>0.461081</td>
      <td>-0.6671</td>
      <td>0.6671</td>
    </tr>
    <tr>
      <td>2000-06-06</td>
      <td>1457.8400</td>
      <td>0.9274</td>
      <td>-0.031741</td>
      <td>0.444430</td>
      <td>-0.9274</td>
      <td>-0.9274</td>
    </tr>
    <tr>
      <td>2000-06-07</td>
      <td>1471.3600</td>
      <td>-0.6586</td>
      <td>-0.000019</td>
      <td>0.472961</td>
      <td>0.6586</td>
      <td>0.6586</td>
    </tr>
    <tr>
      <td>2000-06-08</td>
      <td>1461.6700</td>
      <td>-0.3229</td>
      <td>0.061225</td>
      <td>0.463074</td>
      <td>-0.3229</td>
      <td>0.3229</td>
    </tr>
    <tr>
      <td>2000-06-09</td>
      <td>1456.9500</td>
      <td>-0.7516</td>
      <td>-0.014593</td>
      <td>0.455197</td>
      <td>0.7516</td>
      <td>0.7516</td>
    </tr>
    <tr>
      <td>2000-06-12</td>
      <td>1446.0000</td>
      <td>1.6210</td>
      <td>-0.021296</td>
      <td>0.489148</td>
      <td>-1.6210</td>
      <td>-1.6210</td>
    </tr>
    <tr>
      <td>2000-06-13</td>
      <td>1469.4399</td>
      <td>0.0749</td>
      <td>0.104671</td>
      <td>0.506672</td>
      <td>0.0749</td>
      <td>0.0749</td>
    </tr>
    <tr>
      <td>2000-06-14</td>
      <td>1470.5400</td>
      <td>0.5569</td>
      <td>0.121565</td>
      <td>0.517374</td>
      <td>0.5569</td>
      <td>0.5569</td>
    </tr>
    <tr>
      <td>2000-06-15</td>
      <td>1478.7300</td>
      <td>-0.9650</td>
      <td>0.018105</td>
      <td>0.486074</td>
      <td>-0.9650</td>
      <td>0.9650</td>
    </tr>
    <tr>
      <td>2000-06-16</td>
      <td>1464.4600</td>
      <td>1.4709</td>
      <td>-0.033477</td>
      <td>0.508548</td>
      <td>-1.4709</td>
      <td>1.4709</td>
    </tr>
    <tr>
      <td>2000-06-19</td>
      <td>1486.0000</td>
      <td>-0.6763</td>
      <td>0.113878</td>
      <td>0.500836</td>
      <td>-0.6763</td>
      <td>-0.6763</td>
    </tr>
    <tr>
      <td>2000-06-20</td>
      <td>1475.9500</td>
      <td>0.2155</td>
      <td>0.099906</td>
      <td>0.502682</td>
      <td>0.2155</td>
      <td>0.2155</td>
    </tr>
    <tr>
      <td>2000-06-21</td>
      <td>1479.1300</td>
      <td>-1.8220</td>
      <td>0.031901</td>
      <td>0.467189</td>
      <td>-1.8220</td>
      <td>1.8220</td>
    </tr>
    <tr>
      <td>2000-06-22</td>
      <td>1452.1801</td>
      <td>-0.7368</td>
      <td>-0.041552</td>
      <td>0.496561</td>
      <td>0.7368</td>
      <td>0.7368</td>
    </tr>
    <tr>
      <td>2000-06-23</td>
      <td>1441.4800</td>
      <td>0.9594</td>
      <td>0.048014</td>
      <td>0.497575</td>
      <td>0.9594</td>
      <td>-0.9594</td>
    </tr>
    <tr>
      <td>2000-06-26</td>
      <td>1455.3101</td>
      <td>-0.3271</td>
      <td>0.117788</td>
      <td>0.516615</td>
      <td>-0.3271</td>
      <td>-0.3271</td>
    </tr>
    <tr>
      <td>2000-06-27</td>
      <td>1450.5500</td>
      <td>0.2944</td>
      <td>0.145762</td>
      <td>0.512191</td>
      <td>0.2944</td>
      <td>0.2944</td>
    </tr>
    <tr>
      <td>2000-06-28</td>
      <td>1454.8199</td>
      <td>-0.8544</td>
      <td>0.000133</td>
      <td>0.492592</td>
      <td>-0.8544</td>
      <td>0.8544</td>
    </tr>
    <tr>
      <td>2000-06-29</td>
      <td>1442.3900</td>
      <td>0.8465</td>
      <td>0.030445</td>
      <td>0.534607</td>
      <td>0.8465</td>
      <td>0.8465</td>
    </tr>
    <tr>
      <td>2000-06-30</td>
      <td>1454.6000</td>
      <td>1.0271</td>
      <td>0.082520</td>
      <td>0.518894</td>
      <td>1.0271</td>
      <td>1.0271</td>
    </tr>
    <tr>
      <td>2000-07-03</td>
      <td>1469.5400</td>
      <td>-1.5862</td>
      <td>0.146736</td>
      <td>0.519998</td>
      <td>-1.5862</td>
      <td>-1.5862</td>
    </tr>
    <tr>
      <td>2000-07-05</td>
      <td>1446.2300</td>
      <td>0.7219</td>
      <td>0.043489</td>
      <td>0.485569</td>
      <td>0.7219</td>
      <td>-0.7219</td>
    </tr>
    <tr>
      <td>2000-07-06</td>
      <td>1456.6700</td>
      <td>1.5261</td>
      <td>-0.047135</td>
      <td>0.483697</td>
      <td>-1.5261</td>
      <td>-1.5261</td>
    </tr>
    <tr>
      <td>2000-07-07</td>
      <td>1478.9000</td>
      <td>-0.2218</td>
      <td>0.091590</td>
      <td>0.532293</td>
      <td>-0.2218</td>
      <td>-0.2218</td>
    </tr>
    <tr>
      <td>2000-07-10</td>
      <td>1475.6200</td>
      <td>0.3565</td>
      <td>0.134130</td>
      <td>0.482447</td>
      <td>0.3565</td>
      <td>-0.3565</td>
    </tr>
    <tr>
      <td>2000-07-11</td>
      <td>1480.8800</td>
      <td>0.8130</td>
      <td>-0.025595</td>
      <td>0.471717</td>
      <td>-0.8130</td>
      <td>-0.8130</td>
    </tr>
    <tr>
      <td>2000-07-12</td>
      <td>1492.9200</td>
      <td>0.1956</td>
      <td>0.007131</td>
      <td>0.504823</td>
      <td>0.1956</td>
      <td>0.1956</td>
    </tr>
    <tr>
      <td>2000-07-13</td>
      <td>1495.8400</td>
      <td>0.9453</td>
      <td>0.086108</td>
      <td>0.491510</td>
      <td>0.9453</td>
      <td>-0.9453</td>
    </tr>
    <tr>
      <td>2000-07-14</td>
      <td>1509.9800</td>
      <td>0.0338</td>
      <td>0.024386</td>
      <td>0.478693</td>
      <td>0.0338</td>
      <td>-0.0338</td>
    </tr>
    <tr>
      <td>2000-07-17</td>
      <td>1510.4900</td>
      <td>-1.1089</td>
      <td>0.014668</td>
      <td>0.478582</td>
      <td>-1.1089</td>
      <td>1.1089</td>
    </tr>
    <tr>
      <td>2000-07-18</td>
      <td>1493.7400</td>
      <td>-0.7886</td>
      <td>0.013609</td>
      <td>0.471461</td>
      <td>-0.7886</td>
      <td>0.7886</td>
    </tr>
    <tr>
      <td>2000-07-19</td>
      <td>1481.9600</td>
      <td>0.9184</td>
      <td>0.012734</td>
      <td>0.485755</td>
      <td>0.9184</td>
      <td>-0.9184</td>
    </tr>
    <tr>
      <td>2000-07-20</td>
      <td>1495.5699</td>
      <td>-1.0284</td>
      <td>0.069740</td>
      <td>0.500669</td>
      <td>-1.0284</td>
      <td>-1.0284</td>
    </tr>
    <tr>
      <td>2000-07-21</td>
      <td>1480.1899</td>
      <td>-1.0742</td>
      <td>0.069139</td>
      <td>0.496537</td>
      <td>-1.0742</td>
      <td>1.0742</td>
    </tr>
    <tr>
      <td>2000-07-24</td>
      <td>1464.2900</td>
      <td>0.6952</td>
      <td>0.013168</td>
      <td>0.480059</td>
      <td>0.6952</td>
      <td>-0.6952</td>
    </tr>
    <tr>
      <td>2000-07-25</td>
      <td>1474.4700</td>
      <td>-1.4954</td>
      <td>0.034983</td>
      <td>0.525091</td>
      <td>-1.4954</td>
      <td>-1.4954</td>
    </tr>
    <tr>
      <td>2000-07-26</td>
      <td>1452.4200</td>
      <td>-0.1928</td>
      <td>0.147568</td>
      <td>0.531387</td>
      <td>-0.1928</td>
      <td>-0.1928</td>
    </tr>
    <tr>
      <td>2000-07-27</td>
      <td>1449.6200</td>
      <td>-2.0509</td>
      <td>0.053879</td>
      <td>0.498362</td>
      <td>-2.0509</td>
      <td>2.0509</td>
    </tr>
    <tr>
      <td>2000-07-28</td>
      <td>1419.8900</td>
      <td>0.7705</td>
      <td>0.012118</td>
      <td>0.533143</td>
      <td>0.7705</td>
      <td>0.7705</td>
    </tr>
    <tr>
      <td>2000-07-31</td>
      <td>1430.8300</td>
      <td>0.5081</td>
      <td>0.122823</td>
      <td>0.514341</td>
      <td>0.5081</td>
      <td>0.5081</td>
    </tr>
    <tr>
      <td>2000-08-01</td>
      <td>1438.1000</td>
      <td>0.0417</td>
      <td>0.151483</td>
      <td>0.545023</td>
      <td>0.0417</td>
      <td>0.0417</td>
    </tr>
    <tr>
      <td>2000-08-02</td>
      <td>1438.7000</td>
      <td>0.9634</td>
      <td>0.095982</td>
      <td>0.510058</td>
      <td>0.9634</td>
      <td>0.9634</td>
    </tr>
    <tr>
      <td>2000-08-03</td>
      <td>1452.5601</td>
      <td>0.7139</td>
      <td>-0.010801</td>
      <td>0.516628</td>
      <td>-0.7139</td>
      <td>0.7139</td>
    </tr>
    <tr>
      <td>2000-08-04</td>
      <td>1462.9301</td>
      <td>1.1203</td>
      <td>0.082334</td>
      <td>0.534951</td>
      <td>1.1203</td>
      <td>1.1203</td>
    </tr>
    <tr>
      <td>2000-08-07</td>
      <td>1479.3199</td>
      <td>0.2353</td>
      <td>0.099301</td>
      <td>0.494173</td>
      <td>0.2353</td>
      <td>-0.2353</td>
    </tr>
    <tr>
      <td>2000-08-08</td>
      <td>1482.8000</td>
      <td>-0.6697</td>
      <td>0.048096</td>
      <td>0.488257</td>
      <td>-0.6697</td>
      <td>0.6697</td>
    </tr>
    <tr>
      <td>2000-08-09</td>
      <td>1472.8700</td>
      <td>-0.8568</td>
      <td>-0.020491</td>
      <td>0.468061</td>
      <td>0.8568</td>
      <td>0.8568</td>
    </tr>
    <tr>
      <td>2000-08-10</td>
      <td>1460.2500</td>
      <td>0.7937</td>
      <td>-0.009667</td>
      <td>0.477606</td>
      <td>-0.7937</td>
      <td>-0.7937</td>
    </tr>
    <tr>
      <td>2000-08-11</td>
      <td>1471.8400</td>
      <td>1.3398</td>
      <td>0.043799</td>
      <td>0.488451</td>
      <td>1.3398</td>
      <td>-1.3398</td>
    </tr>
    <tr>
      <td>2000-08-14</td>
      <td>1491.5601</td>
      <td>-0.4780</td>
      <td>0.104815</td>
      <td>0.486576</td>
      <td>-0.4780</td>
      <td>0.4780</td>
    </tr>
    <tr>
      <td>2000-08-15</td>
      <td>1484.4301</td>
      <td>-0.3085</td>
      <td>0.029237</td>
      <td>0.477226</td>
      <td>-0.3085</td>
      <td>0.3085</td>
    </tr>
    <tr>
      <td>2000-08-16</td>
      <td>1479.8500</td>
      <td>1.0961</td>
      <td>-0.051567</td>
      <td>0.484959</td>
      <td>-1.0961</td>
      <td>-1.0961</td>
    </tr>
    <tr>
      <td>2000-08-17</td>
      <td>1496.0699</td>
      <td>-0.2908</td>
      <td>0.051127</td>
      <td>0.519727</td>
      <td>-0.2908</td>
      <td>-0.2908</td>
    </tr>
    <tr>
      <td>2000-08-18</td>
      <td>1491.7200</td>
      <td>0.5202</td>
      <td>0.109266</td>
      <td>0.503195</td>
      <td>0.5202</td>
      <td>0.5202</td>
    </tr>
    <tr>
      <td>2000-08-21</td>
      <td>1499.4800</td>
      <td>-0.0900</td>
      <td>0.037607</td>
      <td>0.467295</td>
      <td>-0.0900</td>
      <td>0.0900</td>
    </tr>
    <tr>
      <td>2000-08-22</td>
      <td>1498.1300</td>
      <td>0.5233</td>
      <td>-0.003799</td>
      <td>0.492985</td>
      <td>-0.5233</td>
      <td>-0.5233</td>
    </tr>
    <tr>
      <td>2000-08-23</td>
      <td>1505.9700</td>
      <td>0.1554</td>
      <td>0.054590</td>
      <td>0.489670</td>
      <td>0.1554</td>
      <td>-0.1554</td>
    </tr>
    <tr>
      <td>2000-08-24</td>
      <td>1508.3101</td>
      <td>-0.1233</td>
      <td>0.046633</td>
      <td>0.497632</td>
      <td>-0.1233</td>
      <td>0.1233</td>
    </tr>
    <tr>
      <td>2000-08-25</td>
      <td>1506.4500</td>
      <td>0.5072</td>
      <td>0.012291</td>
      <td>0.487276</td>
      <td>0.5072</td>
      <td>-0.5072</td>
    </tr>
    <tr>
      <td>2000-08-28</td>
      <td>1514.0900</td>
      <td>-0.2807</td>
      <td>0.035982</td>
      <td>0.486774</td>
      <td>-0.2807</td>
      <td>0.2807</td>
    </tr>
    <tr>
      <td>2000-08-29</td>
      <td>1509.8400</td>
      <td>-0.4802</td>
      <td>0.070816</td>
      <td>0.497326</td>
      <td>-0.4802</td>
      <td>0.4802</td>
    </tr>
    <tr>
      <td>2000-08-30</td>
      <td>1502.5900</td>
      <td>1.0043</td>
      <td>0.024700</td>
      <td>0.483016</td>
      <td>1.0043</td>
      <td>-1.0043</td>
    </tr>
    <tr>
      <td>2000-08-31</td>
      <td>1517.6801</td>
      <td>0.2036</td>
      <td>0.030894</td>
      <td>0.500104</td>
      <td>0.2036</td>
      <td>0.2036</td>
    </tr>
    <tr>
      <td>2000-09-01</td>
      <td>1520.7700</td>
      <td>-0.9002</td>
      <td>0.056059</td>
      <td>0.504128</td>
      <td>-0.9002</td>
      <td>-0.9002</td>
    </tr>
    <tr>
      <td>2000-09-05</td>
      <td>1507.0800</td>
      <td>-0.9840</td>
      <td>0.031048</td>
      <td>0.480426</td>
      <td>-0.9840</td>
      <td>0.9840</td>
    </tr>
    <tr>
      <td>2000-09-06</td>
      <td>1492.2500</td>
      <td>0.6876</td>
      <td>-0.019315</td>
      <td>0.495579</td>
      <td>-0.6876</td>
      <td>-0.6876</td>
    </tr>
    <tr>
      <td>2000-09-07</td>
      <td>1502.5100</td>
      <td>-0.5331</td>
      <td>0.067443</td>
      <td>0.512976</td>
      <td>-0.5331</td>
      <td>-0.5331</td>
    </tr>
    <tr>
      <td>2000-09-08</td>
      <td>1494.5000</td>
      <td>-0.3506</td>
      <td>0.099663</td>
      <td>0.509118</td>
      <td>-0.3506</td>
      <td>-0.3506</td>
    </tr>
    <tr>
      <td>2000-09-11</td>
      <td>1489.2600</td>
      <td>-0.4882</td>
      <td>0.040657</td>
      <td>0.483106</td>
      <td>-0.4882</td>
      <td>0.4882</td>
    </tr>
    <tr>
      <td>2000-09-12</td>
      <td>1481.9900</td>
      <td>0.1970</td>
      <td>0.005475</td>
      <td>0.512473</td>
      <td>0.1970</td>
      <td>0.1970</td>
    </tr>
    <tr>
      <td>2000-09-13</td>
      <td>1484.9100</td>
      <td>-0.2721</td>
      <td>0.100028</td>
      <td>0.521082</td>
      <td>-0.2721</td>
      <td>-0.2721</td>
    </tr>
    <tr>
      <td>2000-09-14</td>
      <td>1480.8700</td>
      <td>-1.0170</td>
      <td>0.084873</td>
      <td>0.516173</td>
      <td>-1.0170</td>
      <td>-1.0170</td>
    </tr>
    <tr>
      <td>2000-09-15</td>
      <td>1465.8101</td>
      <td>-1.4531</td>
      <td>0.020451</td>
      <td>0.504169</td>
      <td>-1.4531</td>
      <td>-1.4531</td>
    </tr>
    <tr>
      <td>2000-09-18</td>
      <td>1444.5100</td>
      <td>1.0654</td>
      <td>0.029843</td>
      <td>0.504992</td>
      <td>1.0654</td>
      <td>1.0654</td>
    </tr>
    <tr>
      <td>2000-09-19</td>
      <td>1459.9000</td>
      <td>-0.5863</td>
      <td>0.113455</td>
      <td>0.524284</td>
      <td>-0.5863</td>
      <td>-0.5863</td>
    </tr>
    <tr>
      <td>2000-09-20</td>
      <td>1451.3400</td>
      <td>-0.1578</td>
      <td>0.130237</td>
      <td>0.525907</td>
      <td>-0.1578</td>
      <td>-0.1578</td>
    </tr>
    <tr>
      <td>2000-09-21</td>
      <td>1449.0500</td>
      <td>-0.0228</td>
      <td>0.028553</td>
      <td>0.495096</td>
      <td>-0.0228</td>
      <td>0.0228</td>
    </tr>
    <tr>
      <td>2000-09-22</td>
      <td>1448.7200</td>
      <td>-0.6689</td>
      <td>-0.011450</td>
      <td>0.529283</td>
      <td>0.6689</td>
      <td>-0.6689</td>
    </tr>
    <tr>
      <td>2000-09-25</td>
      <td>1439.0300</td>
      <td>-0.8214</td>
      <td>0.127110</td>
      <td>0.523136</td>
      <td>-0.8214</td>
      <td>-0.8214</td>
    </tr>
    <tr>
      <td>2000-09-26</td>
      <td>1427.2100</td>
      <td>-0.0448</td>
      <td>0.079222</td>
      <td>0.506342</td>
      <td>-0.0448</td>
      <td>-0.0448</td>
    </tr>
    <tr>
      <td>2000-09-27</td>
      <td>1426.5699</td>
      <td>2.2235</td>
      <td>0.060547</td>
      <td>0.513312</td>
      <td>2.2235</td>
      <td>2.2235</td>
    </tr>
    <tr>
      <td>2000-09-28</td>
      <td>1458.2900</td>
      <td>-1.4935</td>
      <td>0.084715</td>
      <td>0.515055</td>
      <td>-1.4935</td>
      <td>-1.4935</td>
    </tr>
    <tr>
      <td>2000-09-29</td>
      <td>1436.5100</td>
      <td>-0.0195</td>
      <td>0.064684</td>
      <td>0.512690</td>
      <td>-0.0195</td>
      <td>-0.0195</td>
    </tr>
    <tr>
      <td>2000-10-02</td>
      <td>1436.2300</td>
      <td>-0.6803</td>
      <td>-0.024147</td>
      <td>0.477827</td>
      <td>0.6803</td>
      <td>0.6803</td>
    </tr>
    <tr>
      <td>2000-10-03</td>
      <td>1426.4600</td>
      <td>0.5510</td>
      <td>0.039782</td>
      <td>0.532767</td>
      <td>0.5510</td>
      <td>0.5510</td>
    </tr>
    <tr>
      <td>2000-10-04</td>
      <td>1434.3199</td>
      <td>0.1367</td>
      <td>0.150503</td>
      <td>0.501009</td>
      <td>0.1367</td>
      <td>0.1367</td>
    </tr>
    <tr>
      <td>2000-10-05</td>
      <td>1436.2800</td>
      <td>-1.9001</td>
      <td>0.042033</td>
      <td>0.495351</td>
      <td>-1.9001</td>
      <td>1.9001</td>
    </tr>
    <tr>
      <td>2000-10-06</td>
      <td>1408.9900</td>
      <td>-0.4940</td>
      <td>-0.028412</td>
      <td>0.489183</td>
      <td>0.4940</td>
      <td>0.4940</td>
    </tr>
    <tr>
      <td>2000-10-09</td>
      <td>1402.0300</td>
      <td>-1.0706</td>
      <td>-0.005273</td>
      <td>0.496697</td>
      <td>1.0706</td>
      <td>1.0706</td>
    </tr>
    <tr>
      <td>2000-10-10</td>
      <td>1387.0200</td>
      <td>-1.6171</td>
      <td>0.137466</td>
      <td>0.538667</td>
      <td>-1.6171</td>
      <td>-1.6171</td>
    </tr>
    <tr>
      <td>2000-10-11</td>
      <td>1364.5900</td>
      <td>-2.5509</td>
      <td>0.094810</td>
      <td>0.500994</td>
      <td>-2.5509</td>
      <td>-2.5509</td>
    </tr>
    <tr>
      <td>2000-10-12</td>
      <td>1329.7800</td>
      <td>3.3381</td>
      <td>0.005207</td>
      <td>0.515407</td>
      <td>3.3381</td>
      <td>3.3381</td>
    </tr>
    <tr>
      <td>2000-10-13</td>
      <td>1374.1700</td>
      <td>0.0327</td>
      <td>0.088157</td>
      <td>0.545989</td>
      <td>0.0327</td>
      <td>0.0327</td>
    </tr>
    <tr>
      <td>2000-10-16</td>
      <td>1374.6200</td>
      <td>-1.7932</td>
      <td>0.229610</td>
      <td>0.565660</td>
      <td>-1.7932</td>
      <td>-1.7932</td>
    </tr>
    <tr>
      <td>2000-10-17</td>
      <td>1349.9700</td>
      <td>-0.5808</td>
      <td>0.036966</td>
      <td>0.490195</td>
      <td>-0.5808</td>
      <td>0.5808</td>
    </tr>
    <tr>
      <td>2000-10-18</td>
      <td>1342.1300</td>
      <td>3.4743</td>
      <td>-0.093012</td>
      <td>0.536886</td>
      <td>-3.4743</td>
      <td>3.4743</td>
    </tr>
    <tr>
      <td>2000-10-19</td>
      <td>1388.7600</td>
      <td>0.5883</td>
      <td>0.218981</td>
      <td>0.563129</td>
      <td>0.5883</td>
      <td>0.5883</td>
    </tr>
    <tr>
      <td>2000-10-20</td>
      <td>1396.9301</td>
      <td>-0.0823</td>
      <td>0.189996</td>
      <td>0.506208</td>
      <td>-0.0823</td>
      <td>-0.0823</td>
    </tr>
    <tr>
      <td>2000-10-23</td>
      <td>1395.7800</td>
      <td>0.1684</td>
      <td>-0.060599</td>
      <td>0.443855</td>
      <td>-0.1684</td>
      <td>-0.1684</td>
    </tr>
    <tr>
      <td>2000-10-24</td>
      <td>1398.1300</td>
      <td>-2.3767</td>
      <td>-0.132253</td>
      <td>0.491277</td>
      <td>2.3767</td>
      <td>2.3767</td>
    </tr>
    <tr>
      <td>2000-10-25</td>
      <td>1364.9000</td>
      <td>-0.0337</td>
      <td>0.110442</td>
      <td>0.505827</td>
      <td>-0.0337</td>
      <td>-0.0337</td>
    </tr>
    <tr>
      <td>2000-10-26</td>
      <td>1364.4399</td>
      <td>1.1096</td>
      <td>0.052193</td>
      <td>0.465933</td>
      <td>1.1096</td>
      <td>-1.1096</td>
    </tr>
    <tr>
      <td>2000-10-27</td>
      <td>1379.5800</td>
      <td>1.3830</td>
      <td>0.037389</td>
      <td>0.499167</td>
      <td>1.3830</td>
      <td>-1.3830</td>
    </tr>
    <tr>
      <td>2000-10-30</td>
      <td>1398.6600</td>
      <td>2.1978</td>
      <td>0.084255</td>
      <td>0.477433</td>
      <td>2.1978</td>
      <td>-2.1978</td>
    </tr>
    <tr>
      <td>2000-10-31</td>
      <td>1429.4000</td>
      <td>-0.5723</td>
      <td>0.018809</td>
      <td>0.497046</td>
      <td>-0.5723</td>
      <td>0.5723</td>
    </tr>
    <tr>
      <td>2000-11-01</td>
      <td>1421.2200</td>
      <td>0.4996</td>
      <td>-0.008571</td>
      <td>0.508853</td>
      <td>-0.4996</td>
      <td>0.4996</td>
    </tr>
    <tr>
      <td>2000-11-02</td>
      <td>1428.3199</td>
      <td>-0.1141</td>
      <td>-0.012958</td>
      <td>0.483886</td>
      <td>0.1141</td>
      <td>0.1141</td>
    </tr>
    <tr>
      <td>2000-11-03</td>
      <td>1426.6899</td>
      <td>0.3855</td>
      <td>0.042967</td>
      <td>0.500512</td>
      <td>0.3855</td>
      <td>0.3855</td>
    </tr>
    <tr>
      <td>2000-11-06</td>
      <td>1432.1899</td>
      <td>-0.0223</td>
      <td>0.069083</td>
      <td>0.451594</td>
      <td>-0.0223</td>
      <td>0.0223</td>
    </tr>
    <tr>
      <td>2000-11-07</td>
      <td>1431.8700</td>
      <td>-1.5777</td>
      <td>-0.016178</td>
      <td>0.457457</td>
      <td>1.5777</td>
      <td>1.5777</td>
    </tr>
    <tr>
      <td>2000-11-08</td>
      <td>1409.2800</td>
      <td>-0.6486</td>
      <td>-0.031934</td>
      <td>0.469134</td>
      <td>0.6486</td>
      <td>0.6486</td>
    </tr>
    <tr>
      <td>2000-11-09</td>
      <td>1400.1400</td>
      <td>-2.4398</td>
      <td>-0.028868</td>
      <td>0.485164</td>
      <td>2.4398</td>
      <td>2.4398</td>
    </tr>
    <tr>
      <td>2000-11-10</td>
      <td>1365.9800</td>
      <td>-1.0776</td>
      <td>0.053446</td>
      <td>0.518066</td>
      <td>-1.0776</td>
      <td>-1.0776</td>
    </tr>
    <tr>
      <td>2000-11-13</td>
      <td>1351.2600</td>
      <td>2.3452</td>
      <td>0.078873</td>
      <td>0.494356</td>
      <td>2.3452</td>
      <td>-2.3452</td>
    </tr>
    <tr>
      <td>2000-11-14</td>
      <td>1382.9500</td>
      <td>0.4960</td>
      <td>0.120325</td>
      <td>0.539007</td>
      <td>0.4960</td>
      <td>0.4960</td>
    </tr>
    <tr>
      <td>2000-11-15</td>
      <td>1389.8101</td>
      <td>-1.2585</td>
      <td>0.151436</td>
      <td>0.538456</td>
      <td>-1.2585</td>
      <td>-1.2585</td>
    </tr>
    <tr>
      <td>2000-11-16</td>
      <td>1372.3199</td>
      <td>-0.3352</td>
      <td>-0.021831</td>
      <td>0.503252</td>
      <td>0.3352</td>
      <td>-0.3352</td>
    </tr>
    <tr>
      <td>2000-11-17</td>
      <td>1367.7200</td>
      <td>-1.8352</td>
      <td>-0.045687</td>
      <td>0.540175</td>
      <td>1.8352</td>
      <td>-1.8352</td>
    </tr>
    <tr>
      <td>2000-11-20</td>
      <td>1342.6200</td>
      <td>0.3523</td>
      <td>0.152343</td>
      <td>0.537725</td>
      <td>0.3523</td>
      <td>0.3523</td>
    </tr>
    <tr>
      <td>2000-11-21</td>
      <td>1347.3500</td>
      <td>-1.8548</td>
      <td>0.147170</td>
      <td>0.493800</td>
      <td>-1.8548</td>
      <td>1.8548</td>
    </tr>
    <tr>
      <td>2000-11-22</td>
      <td>1322.3600</td>
      <td>1.4678</td>
      <td>0.032826</td>
      <td>0.504959</td>
      <td>1.4678</td>
      <td>1.4678</td>
    </tr>
    <tr>
      <td>2000-11-24</td>
      <td>1341.7700</td>
      <td>0.5366</td>
      <td>0.000446</td>
      <td>0.494607</td>
      <td>0.5366</td>
      <td>-0.5366</td>
    </tr>
    <tr>
      <td>2000-11-27</td>
      <td>1348.9700</td>
      <td>-0.9548</td>
      <td>0.113191</td>
      <td>0.548237</td>
      <td>-0.9548</td>
      <td>-0.9548</td>
    </tr>
    <tr>
      <td>2000-11-28</td>
      <td>1336.0900</td>
      <td>0.4371</td>
      <td>0.099923</td>
      <td>0.510023</td>
      <td>0.4371</td>
      <td>0.4371</td>
    </tr>
    <tr>
      <td>2000-11-29</td>
      <td>1341.9301</td>
      <td>-2.0105</td>
      <td>-0.019397</td>
      <td>0.512299</td>
      <td>2.0105</td>
      <td>-2.0105</td>
    </tr>
    <tr>
      <td>2000-11-30</td>
      <td>1314.9500</td>
      <td>0.0213</td>
      <td>0.082382</td>
      <td>0.532563</td>
      <td>0.0213</td>
      <td>0.0213</td>
    </tr>
    <tr>
      <td>2000-12-01</td>
      <td>1315.2300</td>
      <td>0.7406</td>
      <td>0.037641</td>
      <td>0.484938</td>
      <td>0.7406</td>
      <td>-0.7406</td>
    </tr>
    <tr>
      <td>2000-12-04</td>
      <td>1324.9700</td>
      <td>3.8922</td>
      <td>0.100645</td>
      <td>0.520144</td>
      <td>3.8922</td>
      <td>3.8922</td>
    </tr>
    <tr>
      <td>2000-12-05</td>
      <td>1376.5400</td>
      <td>-1.8220</td>
      <td>0.110344</td>
      <td>0.497704</td>
      <td>-1.8220</td>
      <td>1.8220</td>
    </tr>
    <tr>
      <td>2000-12-06</td>
      <td>1351.4600</td>
      <td>-0.5853</td>
      <td>0.010973</td>
      <td>0.501578</td>
      <td>-0.5853</td>
      <td>-0.5853</td>
    </tr>
    <tr>
      <td>2000-12-07</td>
      <td>1343.5500</td>
      <td>1.9605</td>
      <td>-0.108342</td>
      <td>0.468746</td>
      <td>-1.9605</td>
      <td>-1.9605</td>
    </tr>
    <tr>
      <td>2000-12-08</td>
      <td>1369.8900</td>
      <td>0.7526</td>
      <td>0.010374</td>
      <td>0.534738</td>
      <td>0.7526</td>
      <td>0.7526</td>
    </tr>
    <tr>
      <td>2000-12-11</td>
      <td>1380.2000</td>
      <td>-0.6535</td>
      <td>0.249133</td>
      <td>0.491389</td>
      <td>-0.6535</td>
      <td>0.6535</td>
    </tr>
    <tr>
      <td>2000-12-12</td>
      <td>1371.1801</td>
      <td>-0.8161</td>
      <td>-0.052679</td>
      <td>0.426352</td>
      <td>0.8161</td>
      <td>0.8161</td>
    </tr>
    <tr>
      <td>2000-12-13</td>
      <td>1359.9900</td>
      <td>-1.4015</td>
      <td>-0.139787</td>
      <td>0.470452</td>
      <td>1.4015</td>
      <td>1.4015</td>
    </tr>
    <tr>
      <td>2000-12-14</td>
      <td>1340.9301</td>
      <td>-2.1463</td>
      <td>0.003209</td>
      <td>0.498096</td>
      <td>-2.1463</td>
      <td>2.1463</td>
    </tr>
    <tr>
      <td>2000-12-15</td>
      <td>1312.1500</td>
      <td>0.8071</td>
      <td>0.092735</td>
      <td>0.498246</td>
      <td>0.8071</td>
      <td>-0.8071</td>
    </tr>
    <tr>
      <td>2000-12-18</td>
      <td>1322.7400</td>
      <td>-1.2958</td>
      <td>0.062473</td>
      <td>0.491942</td>
      <td>-1.2958</td>
      <td>1.2958</td>
    </tr>
    <tr>
      <td>2000-12-19</td>
      <td>1305.6000</td>
      <td>-3.1296</td>
      <td>0.079666</td>
      <td>0.520410</td>
      <td>-3.1296</td>
      <td>-3.1296</td>
    </tr>
    <tr>
      <td>2000-12-20</td>
      <td>1264.7400</td>
      <td>0.8002</td>
      <td>0.014645</td>
      <td>0.501805</td>
      <td>0.8002</td>
      <td>0.8002</td>
    </tr>
    <tr>
      <td>2000-12-21</td>
      <td>1274.8600</td>
      <td>2.4387</td>
      <td>0.012438</td>
      <td>0.553130</td>
      <td>2.4387</td>
      <td>2.4387</td>
    </tr>
    <tr>
      <td>2000-12-22</td>
      <td>1305.9500</td>
      <td>0.7075</td>
      <td>0.232011</td>
      <td>0.587126</td>
      <td>0.7075</td>
      <td>0.7075</td>
    </tr>
    <tr>
      <td>2000-12-26</td>
      <td>1315.1899</td>
      <td>1.0440</td>
      <td>0.180088</td>
      <td>0.516152</td>
      <td>1.0440</td>
      <td>1.0440</td>
    </tr>
    <tr>
      <td>2000-12-27</td>
      <td>1328.9200</td>
      <td>0.3988</td>
      <td>-0.067296</td>
      <td>0.501853</td>
      <td>-0.3988</td>
      <td>0.3988</td>
    </tr>
    <tr>
      <td>2000-12-28</td>
      <td>1334.2200</td>
      <td>-1.0448</td>
      <td>-0.026461</td>
      <td>0.528173</td>
      <td>1.0448</td>
      <td>-1.0448</td>
    </tr>
    <tr>
      <td>2000-12-29</td>
      <td>1320.2800</td>
      <td>-2.8032</td>
      <td>0.082367</td>
      <td>0.499344</td>
      <td>-2.8032</td>
      <td>2.8032</td>
    </tr>
  </tbody>
</table>