<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2327.5891</td>
      <td>0.480188</td>
      <td>0.621696</td>
    </tr>
    <tr>
      <td>2332.2913</td>
      <td>0.468005</td>
      <td>0.618773</td>
    </tr>
    <tr>
      <td>2336.9935</td>
      <td>0.455819</td>
      <td>0.615849</td>
    </tr>
    <tr>
      <td>2341.6957</td>
      <td>0.443681</td>
      <td>0.612917</td>
    </tr>
    <tr>
      <td>2346.3979</td>
      <td>0.431528</td>
      <td>0.609983</td>
    </tr>
    <tr>
      <td>2351.1001</td>
      <td>0.419408</td>
      <td>0.607044</td>
    </tr>
    <tr>
      <td>2355.8023</td>
      <td>0.407337</td>
      <td>0.604109</td>
    </tr>
    <tr>
      <td>2360.5045</td>
      <td>0.395277</td>
      <td>0.601173</td>
    </tr>
    <tr>
      <td>2365.2067</td>
      <td>0.383204</td>
      <td>0.598221</td>
    </tr>
    <tr>
      <td>2369.9089</td>
      <td>0.371165</td>
      <td>0.595274</td>
    </tr>
    <tr>
      <td>2374.6111</td>
      <td>0.359126</td>
      <td>0.592322</td>
    </tr>
  </tbody>
</table>