<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2443.0230</td>
      <td>-0.022489</td>
      <td>0.499752</td>
    </tr>
    <tr>
      <td>2447.9584</td>
      <td>-0.034433</td>
      <td>0.496723</td>
    </tr>
    <tr>
      <td>2452.8938</td>
      <td>-0.046332</td>
      <td>0.493707</td>
    </tr>
    <tr>
      <td>2457.8292</td>
      <td>-0.058222</td>
      <td>0.490697</td>
    </tr>
    <tr>
      <td>2462.7646</td>
      <td>-0.070120</td>
      <td>0.487684</td>
    </tr>
    <tr>
      <td>2467.7000</td>
      <td>-0.081988</td>
      <td>0.484680</td>
    </tr>
    <tr>
      <td>2472.6354</td>
      <td>-0.093856</td>
      <td>0.481676</td>
    </tr>
    <tr>
      <td>2477.5708</td>
      <td>-0.105675</td>
      <td>0.478685</td>
    </tr>
    <tr>
      <td>2482.5062</td>
      <td>-0.117472</td>
      <td>0.475704</td>
    </tr>
    <tr>
      <td>2487.4416</td>
      <td>-0.129258</td>
      <td>0.472727</td>
    </tr>
    <tr>
      <td>2492.3770</td>
      <td>-0.141059</td>
      <td>0.469746</td>
    </tr>
  </tbody>
</table>