<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2327.5891</td>
      <td>0.480291</td>
      <td>0.621723</td>
    </tr>
    <tr>
      <td>2332.2913</td>
      <td>0.468104</td>
      <td>0.618799</td>
    </tr>
    <tr>
      <td>2336.9935</td>
      <td>0.455918</td>
      <td>0.615875</td>
    </tr>
    <tr>
      <td>2341.6957</td>
      <td>0.443781</td>
      <td>0.612944</td>
    </tr>
    <tr>
      <td>2346.3979</td>
      <td>0.431641</td>
      <td>0.610011</td>
    </tr>
    <tr>
      <td>2351.1001</td>
      <td>0.419508</td>
      <td>0.607071</td>
    </tr>
    <tr>
      <td>2355.8023</td>
      <td>0.407450</td>
      <td>0.604138</td>
    </tr>
    <tr>
      <td>2360.5045</td>
      <td>0.395365</td>
      <td>0.601197</td>
    </tr>
    <tr>
      <td>2365.2067</td>
      <td>0.383292</td>
      <td>0.598244</td>
    </tr>
    <tr>
      <td>2369.9089</td>
      <td>0.371253</td>
      <td>0.595298</td>
    </tr>
    <tr>
      <td>2374.6111</td>
      <td>0.359214</td>
      <td>0.592346</td>
    </tr>
  </tbody>
</table>