<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2392.4143</td>
      <td>0.344383</td>
      <td>0.607527</td>
    </tr>
    <tr>
      <td>2397.2474</td>
      <td>0.332198</td>
      <td>0.604561</td>
    </tr>
    <tr>
      <td>2402.0806</td>
      <td>0.320082</td>
      <td>0.601603</td>
    </tr>
    <tr>
      <td>2406.9138</td>
      <td>0.307955</td>
      <td>0.598637</td>
    </tr>
    <tr>
      <td>2411.7469</td>
      <td>0.295808</td>
      <td>0.595657</td>
    </tr>
    <tr>
      <td>2416.5801</td>
      <td>0.283711</td>
      <td>0.592684</td>
    </tr>
    <tr>
      <td>2421.4132</td>
      <td>0.271648</td>
      <td>0.589714</td>
    </tr>
    <tr>
      <td>2426.2464</td>
      <td>0.259599</td>
      <td>0.586739</td>
    </tr>
    <tr>
      <td>2431.0796</td>
      <td>0.247582</td>
      <td>0.583764</td>
    </tr>
    <tr>
      <td>2435.9127</td>
      <td>0.235580</td>
      <td>0.580784</td>
    </tr>
    <tr>
      <td>2440.7459</td>
      <td>0.223569</td>
      <td>0.577801</td>
    </tr>
  </tbody>
</table>