<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2409.5510</td>
      <td>0.058329</td>
      <td>0.520183</td>
    </tr>
    <tr>
      <td>2414.4188</td>
      <td>0.046373</td>
      <td>0.517156</td>
    </tr>
    <tr>
      <td>2419.2866</td>
      <td>0.034401</td>
      <td>0.514126</td>
    </tr>
    <tr>
      <td>2424.1543</td>
      <td>0.022468</td>
      <td>0.511104</td>
    </tr>
    <tr>
      <td>2429.0221</td>
      <td>0.010552</td>
      <td>0.508085</td>
    </tr>
    <tr>
      <td>2433.8899</td>
      <td>-0.001388</td>
      <td>0.505061</td>
    </tr>
    <tr>
      <td>2438.7577</td>
      <td>-0.013223</td>
      <td>0.502060</td>
    </tr>
    <tr>
      <td>2443.6255</td>
      <td>-0.025088</td>
      <td>0.499051</td>
    </tr>
    <tr>
      <td>2448.4932</td>
      <td>-0.036922</td>
      <td>0.496053</td>
    </tr>
    <tr>
      <td>2453.3610</td>
      <td>-0.048746</td>
      <td>0.493059</td>
    </tr>
    <tr>
      <td>2458.2288</td>
      <td>-0.060547</td>
      <td>0.490066</td>
    </tr>
  </tbody>
</table>