<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2463.9418</td>
      <td>0.279309</td>
      <td>0.585887</td>
    </tr>
    <tr>
      <td>2468.9194</td>
      <td>0.266927</td>
      <td>0.582830</td>
    </tr>
    <tr>
      <td>2473.8971</td>
      <td>0.254636</td>
      <td>0.579790</td>
    </tr>
    <tr>
      <td>2478.8748</td>
      <td>0.242342</td>
      <td>0.576743</td>
    </tr>
    <tr>
      <td>2483.8524</td>
      <td>0.230038</td>
      <td>0.573686</td>
    </tr>
    <tr>
      <td>2488.8301</td>
      <td>0.217816</td>
      <td>0.570646</td>
    </tr>
    <tr>
      <td>2493.8077</td>
      <td>0.205539</td>
      <td>0.567587</td>
    </tr>
    <tr>
      <td>2498.7854</td>
      <td>0.193359</td>
      <td>0.564544</td>
    </tr>
    <tr>
      <td>2503.7631</td>
      <td>0.181135</td>
      <td>0.561489</td>
    </tr>
    <tr>
      <td>2508.7407</td>
      <td>0.168955</td>
      <td>0.558441</td>
    </tr>
    <tr>
      <td>2513.7184</td>
      <td>0.156794</td>
      <td>0.555391</td>
    </tr>
  </tbody>
</table>