<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2460.8826</td>
      <td>0.248520</td>
      <td>0.574067</td>
    </tr>
    <tr>
      <td>2465.8541</td>
      <td>0.236108</td>
      <td>0.570970</td>
    </tr>
    <tr>
      <td>2470.8256</td>
      <td>0.223715</td>
      <td>0.567873</td>
    </tr>
    <tr>
      <td>2475.7970</td>
      <td>0.211385</td>
      <td>0.564785</td>
    </tr>
    <tr>
      <td>2480.7685</td>
      <td>0.199024</td>
      <td>0.561684</td>
    </tr>
    <tr>
      <td>2485.7400</td>
      <td>0.186713</td>
      <td>0.558595</td>
    </tr>
    <tr>
      <td>2490.7115</td>
      <td>0.174395</td>
      <td>0.555494</td>
    </tr>
    <tr>
      <td>2495.6829</td>
      <td>0.162131</td>
      <td>0.552411</td>
    </tr>
    <tr>
      <td>2500.6544</td>
      <td>0.149862</td>
      <td>0.549315</td>
    </tr>
    <tr>
      <td>2505.6259</td>
      <td>0.137627</td>
      <td>0.546228</td>
    </tr>
    <tr>
      <td>2510.5974</td>
      <td>0.125374</td>
      <td>0.543131</td>
    </tr>
  </tbody>
</table>