%h1 Regression For Us
%p
  This site was built to help students during class03 of my Machine Learning Applications class:
%p
  %a(href='https://ml4.herokuapp.com/cclasses/class03#psy' target='x')
    https://ml4.herokuapp.com/cclasses/class03#psy
%p This site compares effectiveness of GSPC predictions computed from Linear Regression and Logistic Regression.

%p If you have questions, e-me: bikle101@gmail.com


