%h1 Blog
%h2 2016-09-12, Dan Bikle, bikle101@gmail.com
%p When I teach Machine Learning I sometimes get the question: "Which Algorithm is best for predicting the S&P 500?"
%p I have learned to prefer Linear Regression because I can explain how it works.
%p Another algorithm I like is Logistic Regression.
%p I see some evidence that Linear Regression gives more effective and accurate predictions than Logistic Regression when the market is 'quiet'.
%p After large market moves, I see that the two algorithms always issue predictions which have the same direction.
%p So after large market moves, Linear Regression is equivalent to Logistic Regression.


